branches:
- "+([0-9])?(.{+([0-9]),x}).x"
- main
- next
- next-major
- name: beta
  prerelease: true
- name: alpha
  prerelease: true
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": ["specification/index.yml"],
            "from": "  version: .*",
            "to": "  version: ${nextRelease.version}",
            "results": [
              {
                "file": "specification/index.yml",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          },
          {
            "files": ["dist/google-maps-platform-openapi3.yml"],
            "from": "  version: .*",
            "to": "  version: ${nextRelease.version}",
            "results": [
              {
                "file": "dist/google-maps-platform-openapi3.yml",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          },
          {
            "files": ["dist/google-maps-platform-openapi3.json"],
            "from": "\"version\": \".*\"",
            "to": "\"version\": \"${nextRelease.version}\"",
            "results": [
              {
                "file": "dist/google-maps-platform-openapi3.json",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ]
  - ["@semantic-release/github", {
      "assets": [
        {"path": "dist/google-maps-platform-openapi3.json", "label": "OpenAPI 3 JSON Specification"},
        {"path": "dist/google-maps-platform-openapi3.yml", "label": "OpenAPI 3 YAML Specification"}
      ]
    }]
  - "@semantic-release/git"
options:
  debug: true
