openapi: 3.0.3
info:
  title: Google Maps Platform
  description: API Specification for Google Maps Platform
  version: 1.22.3
servers:
  - url: 'https://www.googleapis.com'
paths:
  /geolocation/v1/geolocate:
    post:
      operationId: geolocate
      servers:
        - url: 'https://www.googleapis.com'
      tags:
        - Geolocation API
      description: |-
        Geolocation API returns a location and accuracy radius based on information about cell towers and WiFi nodes that the mobile client can detect. This document describes the protocol used to send this data to the server and to return a response to the client.

        Communication is done over HTTPS using POST. Both request and response are formatted as JSON, and the content type of both is `application/json`.

        You must specify a key in your request, included as the value of a`key` parameter. A `key` is your application's  API key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.google.com/maps/documentation/geolocation/get-api-key).
      requestBody:
        description: The request body must be formatted as JSON.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeolocationRequest'
            examples:
              WIFI:
                value:
                  considerIp: 'false'
                  wifiAccessPoints:
                    - macAddress: '84:d4:7e:09:a5:f1'
                      signalStrength: -43
                      signalToNoiseRatio: 0
                    - macAddress: '44:48:c1:a6:f3:d0'
                      signalStrength: -55
                      signalToNoiseRatio: 0
              Cell Towers:
                value:
                  cellTowers:
                    - cellId: 170402199
                      locationAreaCode: 35632
                      mobileCountryCode: 310
                      mobileNetworkCode: 410
                      age: 0
                      signalStrength: -60
                      timingAdvance: 15
              IP Only:
                value:
                  considerIp: 'true'
        required: false
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeolocationResponse'
              examples:
                WIFI:
                  value:
                    location:
                      lat: 37.421925
                      lng: -122.0841293
                    accuracy: 30
                Cell Towers:
                  value:
                    location:
                      lat: 37.7777247
                      lng: -122.4162853
                    accuracy: 1073
                IP Only:
                  value:
                    location:
                      lat: 37.7802545
                      lng: -122.41590829999998
                    accuracy: 926
        '400':
          description: 400 BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad Request:
                  value:
                    error:
                      code: 400
                      message: 'Invalid value at ''cell_tower'' (type.googleapis.com/maps_api.CellTower), "foo"'
                      errors:
                        - message: 'Invalid value at ''cell_tower'' (type.googleapis.com/maps_api.CellTower), "foo"'
                          reason: invalid
                      status: INVALID_ARGUMENT
                      details:
                        - '@type': type.googleapis.com/google.rpc.BadRequest
                          fieldViolations:
                            - field: cell_tower
                              description: 'Invalid value at ''cell_tower'' (type.googleapis.com/maps_api.CellTower), "foo"'
                Invalid Key:
                  value:
                    error:
                      code: 400
                      message: API key not valid. Please pass a valid API key.
                      errors:
                        - message: API key not valid. Please pass a valid API key.
                          domain: global
                          reason: badRequest
                      status: INVALID_ARGUMENT
                      details:
                        - '@type': type.googleapis.com/google.rpc.ErrorInfo
                          reason: API_KEY_INVALID
                          domain: googleapis.com
                          metadata:
                            service: geolocation.googleapis.com
        '404':
          description: 404 NOT FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Invalid:
                  value:
                    error:
                      code: 404
                      message: Not Found
                      errors:
                        - message: Not Found
                          domain: geolocation
                          reason: notFound
  /maps/api/directions/json:
    get:
      operationId: directions
      servers:
        - url: 'https://maps.googleapis.com'
      tags:
        - Directions API
      description: 'The Directions API is a web service that uses an HTTP request to return JSON or XML-formatted directions between locations. You can receive directions for several modes of transportation, such as transit, driving, walking, or cycling.'
      parameters:
        - $ref: '#/components/parameters/arrival_time'
        - $ref: '#/components/parameters/departure_time'
        - $ref: '#/components/parameters/directions_alternatives'
        - $ref: '#/components/parameters/directions_avoid'
        - $ref: '#/components/parameters/directions_destination'
        - $ref: '#/components/parameters/directions_origin'
        - $ref: '#/components/parameters/directions_units'
        - $ref: '#/components/parameters/directions_waypoints'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/mode'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/traffic_model'
        - $ref: '#/components/parameters/transit_mode'
        - $ref: '#/components/parameters/transit_routing_preference'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              examples:
                available_travel_modes_response:
                  value:
                    geocoded_waypoints:
                      - geocoder_status: OK
                        place_id: ChIJwZNMti1fawwRO2aVVVX2yKg
                        types:
                          - locality
                          - political
                      - geocoder_status: OK
                        place_id: ChIJ3aPgQGtXawwRLYeiBMUi7bM
                        types:
                          - locality
                          - political
                    routes:
                      - bounds:
                          northeast:
                            lat: 27.7564327
                            lng: -17.9710024
                          southwest:
                            lat: 27.6411131
                            lng: -18.0481367
                        copyrights: Map data ©2022 Inst. Geogr. Nacional
                        legs:
                          - distance:
                              text: 38.5 km
                              value: 38482
                            duration:
                              text: 55 mins
                              value: 3312
                            end_address: '38917 La Restinga, Santa Cruz de Tenerife, Spain'
                            end_location:
                              lat: 27.6412095
                              lng: -17.9818845
                            start_address: '38911 La Frontera, Santa Cruz de Tenerife, Santa Cruz de Tenerife, Spain'
                            start_location:
                              lat: 27.7548015
                              lng: -18.0095701
                            steps:
                              - distance:
                                  text: 64 m
                                  value: 64
                                duration:
                                  text: 1 min
                                  value: 9
                                end_location:
                                  lat: 27.7550564
                                  lng: -18.0089896
                                html_instructions: Head <b>northeast</b> on <b>C. el Rumbaso</b> toward <b>C. Cruz Alta</b>/<wbr/><b>C. Frontera Dos</b>
                                polyline:
                                  points: 'ozkhDxn|lBIWi@{A'
                                start_location:
                                  lat: 27.7548015
                                  lng: -18.0095701
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 km
                                  value: 302
                                duration:
                                  text: 1 min
                                  value: 54
                                end_location:
                                  lat: 27.7531414
                                  lng: -18.0093196
                                html_instructions: 'Turn <b>right</b> onto <b>C. Cruz Alta</b>/<wbr/><b>C. Frontera Dos</b><div style="font-size:0.9em">Continue to follow C. Frontera Dos</div>'
                                maneuver: turn-right
                                polyline:
                                  points: 'c|khDdk|lBJE^Q`@Q~@a@z@]BA\OZO^QLd@V|@Rp@\hA'
                                start_location:
                                  lat: 27.7550564
                                  lng: -18.0089896
                                travel_mode: DRIVING
                              - distance:
                                  text: 50 m
                                  value: 50
                                duration:
                                  text: 1 min
                                  value: 15
                                end_location:
                                  lat: 27.7530963
                                  lng: -18.0088163
                                html_instructions: Sharp <b>left</b> onto <b>C. Amador</b>
                                maneuver: turn-sharp-left
                                polyline:
                                  points: cpkhDfm|lBBE?C?C@E@g@?g@
                                start_location:
                                  lat: 27.7531414
                                  lng: -18.0093196
                                travel_mode: DRIVING
                              - distance:
                                  text: 61 m
                                  value: 61
                                duration:
                                  text: 1 min
                                  value: 13
                                end_location:
                                  lat: 27.7525596
                                  lng: -18.0089335
                                html_instructions: Turn <b>right</b> onto <b>C. Constitución</b>/<wbr/><b>Tr.ª Amador</b>
                                maneuver: turn-right
                                polyline:
                                  points: '{okhDbj|lBfALb@F'
                                start_location:
                                  lat: 27.7530963
                                  lng: -18.0088163
                                travel_mode: DRIVING
                              - distance:
                                  text: 16.7 km
                                  value: 16666
                                duration:
                                  text: 23 mins
                                  value: 1363
                                end_location:
                                  lat: 27.7372254
                                  lng: -17.9937641
                                html_instructions: 'Turn <b>left</b> onto <b>C. el Congreso</b>/<wbr/><b>HI-1</b><div style="font-size:0.9em">Continue to follow HI-1</div>'
                                maneuver: turn-left
                                polyline:
                                  points: 'olkhDxj|lBCu@QkC?AGo@?AE[Ie@CIACKa@IUEMOe@Mc@Oc@Oc@Mc@Oe@}@qCEMYy@Uq@IOAECCMUOOCCOIICGACAWCG?EA[ESESEQGIECCMMCCKKMQW]KO}BkDCCGKOSGKGOEMCMCM?K?IBK@GBGFKJONKLIVK`@O@?RGDABAB?FAFAL?@?D@H@H@HB^NLVDFPXh@fAPZRb@BBHLJHJJh@d@NLf@d@@@XTZXXTX`@V^JLl@|@`@j@LPJLTVRL@@NJDBdB|@p@^JF^Ph@XZN`@TTLHDFDHFDDDB@@JLHJRXBD@@NVJLJNBDHJJTFNDJRh@@D\`ANd@Nb@Nb@^fANb@\bAb@lANb@BJVt@@FN`@@@P`@Pb@N^Pd@DHLVLVFHDFPPf@d@NRDHHNFPDRFx@?@Df@Bn@F^F`@BDLb@FTPj@FLDJLRHJTNTLRJJFd@RXRLNFHJPDL@BJTDLNb@HVJVP`@PTFJNPV\RXBBV\BBNTBBDHFNDVBT@VARABKh@ENALAR?P?T?T@J@V?BFf@LrADb@BNBVHdARxA@NBTFf@?BHv@@R@H?R?J?LCTKv@[tACNWfAABG^AFALAR@TF|@@@Df@NpAJlABT@PBV?R?JCRARE`@Ef@KdACTIx@MnAGd@Ef@Gf@ANCVGd@Ef@Gf@CZAJGf@Ef@Eb@AB?NAT?@?N@R@BBRDR?@Jb@Ld@Ld@Jd@H\BFJd@Lb@DPDRZjADTHZDX@PPlD@JBf@?FB^Bj@FlAHbBNlC?FB^@VFv@ThE@f@Bf@?BBZ@T?RAPCRCLCPENYz@ELIXCHKXAFA@?F?H?L@J@FBFDBBBD?F?F?DADCBA@A@ABIBK@UBg@@]@KBOBM@EDKHM@AHMJQJOFQF]FWb@kC@KRqAJq@@M?E@M?}@@oA?[@K?k@@a@BsB?S@M@KBQDULi@Lm@b@gBBGLi@T_ANq@F]D]DW@U?A@[?Y?Y?M@Y?CBUBQF[Lg@\kAd@sALY`@aAL]FOBEDGDEDC?AFENGRGPEHCJGFCBE@?LQFK@Cp@uADMDKBS@E?I?MAKCQCOMg@EWAIAG?C?M?O@M@UBSBODQDY\mBJq@Ha@DSHUFODMHSHQLYDIRe@P]FOFKBEFGTOJIFGDIBKFYJe@R{@R_ATaA@I^cBDYBO?C?K?GACAICICGs@sAa@u@CKAECI?I?G@C@CBGDCBEBAD?BAD?D@FBDBDBFFNVR`@Zp@HNBFTf@FTDRBRBNBZ@\?VAXCRCREPCPEV?NAB?R@Z?T?Z@\?TARAZCRCPETERIZYpAKb@ADERGV?H?F@NDZRnBBf@BP?D?F?FCJAFCFGJQZORGFCDCFADABAFAFAL@J@FBFBFDFDFPNf@f@XVZXHHDFBDBDBJ@F@H?R@V?XGtFA^?HAJAB?@A@ADA@CDGBEDE@C@M?I@WAcAEQAGA[AK?O?E@A?I@EBIDEDEDGHINWl@ADCDAHAHAFAB?D?D?F@L@R@L@Z?J?L?DAJAHCLALA@Y~AShAG^AJAFAF?J?L@P@T@RBXBTBL@JDPBLFRDJDJFHNXLPRTNLVTd@`@NLJJDDJPPXJPDJDP?@@L@V?VAPANAVC`@Ef@ADANKh@K^Kn@Gh@CNAFEZ?BCRAR?HA\?FA^?JAZAVEj@Ch@?JEv@AZ?PAL@D?HBXD`@BFBNFT@DDLBBBDDDHFh@`@BBd@`@LFXNZLLFDDDD@F@F?H?@?FCJINIVADADABAH?F@H@D@FBDDFDDJNLXBJDT?@?H?PCXAJEJCNKTM^ABGRM^GTCHALCL?BCT?LANCPCTCNEJGRKVELAHAB?H?DBP?@BP?H@J?@?N?X?H@HBHFLFHHJ@BTX@DDH@H@L?JCPGJGFMPGNCLCJ?L?JAPAPERAFEHEHILGHGHEJCHGb@CLOx@In@In@G^Gp@?@ANETAFGPAHEHGLGNEH?DAB?D?FFLHDF@HC@ADEBIDQ?AHg@@c@@C@WBO@GBMBO@EDSDKBGN[FOLSLUDENQFIHKLIDCDCDCHEFEHIHKDKLUBGBILWL[FMDOFMDIDIDM?ADW@M?S?S?]AWAOC]AUAECa@?CAa@AO?O?Q@M@OBKBIBKBG@CFQDKDILW?AFKFKBIBEBEFEDCBC^QB?\ONGNGf@SXMPINIHGHIFC?AVQZYJKHMDGDGBKDQ@IG[GMGMAKCIAU@C?CDKFIDC@C@C@E@GAM?U?QASEe@AY?ACe@Ec@AQEOCUKy@AIGc@AAKi@AMAU?ACOCSAQAQ?O?O@Q@S@M@C@GBQBUH[L[DGFMNM@Ar@[j@WLINKVSBAFGHGDODSDQ@ADSBMDSFKDIFGJKTOJIx@m@@?ZW\UDERUHINQV]DGRUX[f@s@DGFKFS@CLa@@CDWBM@KBUJi@?AD]@IFUFMFQDSFQDSBMBWBW@O@K?Q?c@AQAWAMCQCOESCKCI?ACOAW?IAY?SAY?Y?M?AAa@?U?Y@_@@Q@S@EHWFMH]@E@MDW@AHk@Fc@H_@D[@O?A?M?O?I?E?OAOAM?O@E?E?E@G@GBK@C@CFMJO@CNW@CLQHMHKJOFGBGBIBI?CLa@Lc@Nc@Le@Ne@LYPe@BELYDM?E?EAGACAGCGGKCEEGCECGCGCGAE?A?C?G?K?GBE@EDIFGDEDEHEJILOJMDQDU?MA[?C?QCYCYAEE[GYG[GUCIA?AEAGAEAGAG?A?G?E@I@G@IDIHWBKBO@G@KAK?K?W?M?A@G@M@EBEDKDEHK@CFMHUHUFKJSFM@GDM@M@S?U?AAg@AIA]AYCMAIG]?EGa@Mu@CWMs@CICGUg@KYEIi@aAQ]AAU]IQIQGOCQACAKCU?EGm@Gk@E]?KUyBKy@G]AKACCIGOEGEGKQcB_CEGYe@i@u@_@i@MSGKEKACAGCKCMCSCQ?EAUE[E}@ASAS?GAGCMGOAGQYGKKSGMIMCMCMESEQCQAAEKMOOQGGIGEIEGCKEQCK?EE_@AKCKGOSYEGUWCCKQ[_@IMGIEGCGEKCIEOAAISEOACKYGSCIAK?A?G@I@IBK@GBQDUDS@IBGFU@EFO`@eAFYJa@BKDS?G?E?SAQGi@Ga@CUIi@EMIa@ACCGCKIK?AEIMMKIIGIEIEMGGCEEEIAEAG?I?C?K?Q?G?O?W?SAS?AEe@Cc@Gk@AMGU?CCGCGEIEEEGEIEIAECMCYCU?QASAS?U@S@k@@Y@]@_@A}@?sBAqA?MEoB?ICc@?CAQEYCSCOIe@ACMa@?AGOGQGOESMe@U}@c@sBKe@CKGY_@gBCIwAuFGQKc@?AMe@Me@'
                                start_location:
                                  lat: 27.7525596
                                  lng: -18.0089335
                                travel_mode: DRIVING
                              - distance:
                                  text: 4.1 km
                                  value: 4058
                                duration:
                                  text: 6 mins
                                  value: 370
                                end_location:
                                  lat: 27.7196513
                                  lng: -17.9933045
                                html_instructions: Turn <b>right</b> onto <b>HI-40</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'ulhhD~kylB\EFAXEPCPAFAD?D?D?F@@?@?B@DBFDHF@@\P^RJDHBD@D@D?Z?X?Z@P@B?NDLB@@LDF@HD?@JFLHBBFHJJDDDDDJBDDHBNBJ?L@L?F?H?BAHCLAFAF?F@D@F@BBBBDDFDBJHHDJBJBDAD?JALC@?`@M@?JKJK@APWDEDEPGF?B?h@Bn@?LATAL?^ARCXEZKZMBADAH?H?D@B@D@B@PRRR~@v@RNBDB@B@D@D@D?DADCBCDILc@FWHe@?ADU@M@Q@O?G?C@a@B[?M?GASASCOI[GOAIAC?C?QAKAAAQCKESUs@CG?A?G?M@Q?ADe@@AFo@B]@K?U@E?GAM?IAE?ACMEMCGGOCGAE?I?C@E@EBEBEDCDCDAHCJC@?LAP?@?NBNDLFNH`@X`@ZDBHDD@F?B@BCDABE@I?A?C@MAKAMCYEo@M_AAECGCECECCOOQQGG[Wq@o@ECAACCACCCAEGKCIIWAAOc@Uk@Se@Yk@GKQa@uAuCKSGQCIAI?E?G@G?G@EBIFGBG^i@FILUT_@HMn@cAj@_ATc@FIDGBC@CBA@ADADAHAF?D@HBHDHHFFFFVTLLDDDHHRBFDLJTFLBFBFHFLJb@Z^R`@RDBZJHDF@NDZHf@HB@f@BZ@F@R?h@Bb@Bx@BJ@\DD?TBTDJDB?@@@@@@@@BDBJDR@@FXBD@@B@@@B@B?D?BABCFELONQFKDE@C@AJGFCHANAP@@?`@?@?d@D^DfAJ`@D@?^BB?LBD@D@FBBBDDHJHJFLNVNRLPHJHHh@b@DBZTZXDDRVNNHLJFRDLQBI?K@C?U?WA]C}@AOAGACCECEAC?EAE?A?E?I@G@EDCFCFAJ@D@B?FBB@NLRPV^BHHPDN?@FP?F@DAD?JAV?B?B@DBDBDBBB@D@D@XHL@D@B@FF?@FFNT@BZp@Th@Vv@Xv@BBR`@R`@@@Tf@BLBN@?@Z@JBf@Df@@FD^D^@FBLDNBDBJBFFFDB\TDDTPVRBDDBDHDLBL@PBPBV@HBH@HBD@B\b@'
                                start_location:
                                  lat: 27.7372254
                                  lng: -17.9937641
                                travel_mode: DRIVING
                              - distance:
                                  text: 1.3 km
                                  value: 1327
                                duration:
                                  text: 2 mins
                                  value: 129
                                end_location:
                                  lat: 27.7192528
                                  lng: -17.9809011
                                html_instructions: Turn <b>left</b> to stay on <b>HI-40</b>
                                maneuver: turn-left
                                polyline:
                                  points: 'y~dhDbiylBh@_@BC?A@E@C?A?C@E?A?CO_@EOCGAC?AAC?C?EAa@C_@?GEqA?u@AOAIEQIQOa@GOGQEKAEAE?GAE?I?IBW@K?MAKAIAGCGGUCKEQESAI?I?C@MBQ?CFUDQDKBEFK@?NQVWlAuAFK@CDGTq@BIDODYFm@Ba@?]?ICg@AMCYEc@?CGg@[qCEa@AM?EAG?C@C?C@GNq@@E?C@E?G?EAIW}@Oq@CIMq@EQy@}DCKAMA]?Q@]Di@Fu@HaA@OBQBQ@CDKHOBEDGRSXa@'
                                start_location:
                                  lat: 27.7196513
                                  lng: -17.9933045
                                travel_mode: DRIVING
                              - distance:
                                  text: 2.4 km
                                  value: 2418
                                duration:
                                  text: 3 mins
                                  value: 209
                                end_location:
                                  lat: 27.7098322
                                  lng: -17.977762
                                html_instructions: Turn <b>right</b> onto <b>HI-4</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'i|dhDr{vlBNZLVJZDRb@xBDNFTH\FLFNDFFFPHFBJDNBJ?J?JGJGl@o@HKFGDCBA@ALGNI\St@_@^QHAJ?J@HFj@ZHDrAv@HBFBLDL@P?VCXGHARELAJ@H@JDFBHFb@XbBhAZRVHPBN@N?VE`@IfB]b@ITEj@KVEF?J?H@B?\Jb@J`@J@?^JRFLB^H@?b@J`@Hb@HD@ZF`@Hb@J`@H`@H@?`@HL@H?FCFCBCDEDQBO?E?ECGEOQUGIEIGOEGAEEOAOAII{@Gq@AIEeACi@Ae@Aa@CKCGEIIICESSY[m@q@QUKQM]EWKm@CKE_@ESK_@KSGKSSSQa@_@UYAAWY[_@MIMIi@YSK_B}@KIKOA?EMCI?K@E@GBEDEFEHEFAN?nAZTRNHH@J@^E\CJAB?L?P?JBr@PxA^`@JfB`@'
                                start_location:
                                  lat: 27.7192528
                                  lng: -17.9809011
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.9 km
                                  value: 890
                                duration:
                                  text: 2 mins
                                  value: 108
                                end_location:
                                  lat: 27.7035054
                                  lng: -17.9812712
                                html_instructions: Turn <b>left</b> onto <b>C. Tr.ª del Pino</b>/<wbr/><b>HI-4</b>
                                maneuver: turn-left
                                polyline:
                                  points: machD~gvlB\_@z@cAd@i@RUHGJEH?J?VFf@T`A`@`Bp@`@Pp@XTJHFHFPRT^lA|ANHLF\JFBJFDD~@t@z@p@NNBB`@l@JPHJPVLLRPRLTRDBVRdAt@TRZXBBZ^TZNT
                                start_location:
                                  lat: 27.7098322
                                  lng: -17.977762
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.2 km
                                  value: 232
                                duration:
                                  text: 1 min
                                  value: 47
                                end_location:
                                  lat: 27.7022429
                                  lng: -17.9794795
                                html_instructions: Turn <b>left</b> onto <b>C. el Chamorro</b>
                                maneuver: turn-left
                                polyline:
                                  points: '}yahD|}vlBVQDELMJK@?BCDCTGDCBCBEFQNc@Pc@@E@CD[@GFSDGR_@@AHOFKPU@CTY'
                                start_location:
                                  lat: 27.7035054
                                  lng: -17.9812712
                                travel_mode: DRIVING
                              - distance:
                                  text: 7 m
                                  value: 7
                                duration:
                                  text: 1 min
                                  value: 2
                                end_location:
                                  lat: 27.7021815
                                  lng: -17.9794959
                                html_instructions: Turn <b>right</b> onto <b>C. San Antón</b>
                                maneuver: turn-right
                                polyline:
                                  points: _rahDvrvlBJB
                                start_location:
                                  lat: 27.7022429
                                  lng: -17.9794795
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 km
                                  value: 137
                                duration:
                                  text: 1 min
                                  value: 26
                                end_location:
                                  lat: 27.7011231
                                  lng: -17.9790166
                                html_instructions: Turn <b>left</b> onto <b>C. D. Eloy Quintero</b>
                                maneuver: turn-left
                                polyline:
                                  points: sqahDzrvlBTUFEDCLAD@\@B?@?BADABABGDKFKFKDC@AHALAZCRA
                                start_location:
                                  lat: 27.7021815
                                  lng: -17.9794959
                                travel_mode: DRIVING
                              - distance:
                                  text: 1.3 km
                                  value: 1312
                                duration:
                                  text: 2 mins
                                  value: 148
                                end_location:
                                  lat: 27.6926438
                                  lng: -17.9724029
                                html_instructions: Continue onto <b>C. la Goronita</b>
                                polyline:
                                  points: _kahDzovlBRGJGPKb@WFCDCFENMBCHIBGDG@CHQDKRa@@?HKFGHEj@Y~Aq@JCHAb@Cz@An@ETALCHAHCBCDC?A@CTi@DIFI@AZYd@a@n@g@VSDCZUROBCb@WNKHKHMHMPUDGTY@CDIJUFKJYFIDEFCDAx@Gl@IFAFCBCBGDGBCFODMDKFGDEBALGXMZKTMFEZYd@_@FGDG@C@G@G@I?KCi@Cc@Ae@?GAg@AACKCEECIGEGAGBGBCBA?AD?D?F?FBF@HBBBFDFDJHJBJBP?tA@h@@F?HAHELMJMFILQVU
                                start_location:
                                  lat: 27.7011231
                                  lng: -17.9790166
                                travel_mode: DRIVING
                              - distance:
                                  text: 10.6 km
                                  value: 10604
                                duration:
                                  text: 12 mins
                                  value: 739
                                end_location:
                                  lat: 27.6422902
                                  lng: -17.9796272
                                html_instructions: Continue onto <b>HI-4</b>
                                polyline:
                                  points: '_v_hDnfulB?KDMFIFGFEF?F?HBFDPLLLXVZZDDPXZd@h@r@d@n@p@bAFD@@HDFBF@D?@AHAHEDE@CBCBE@I?I?GAIEKEMEIU_@Ye@KQU_@EGMWAEO_@EUCUCOCOAIO]o@gAMUEIEKEK?A?E?EBGBIBCDCBAD?B?FBFB\RBB~@r@f@^HDl@Xd@RXHf@Nl@XRJJFjAl@HFHFHJHPNXDHDFFDJFRHLDLDh@PHBNFNJHD\Tf@\b@VDB^RVRBBDDRV@B^p@FJFJDLDLHZLd@Rn@P`@PZLP^b@JLJJBDJPFNDFHLJHPLRLZPVLz@b@B@VNRNNJBBTVHH`@d@^f@TVPRVTNLHHNL^TVJVHNBB?NBRBB?T?TARCBALCREHCJG\OPIFCLEJ?F?F?H@HBHBJFFFFFPJJDJBL?H?JALC\KDAVKLELGRIFELEHCF?D?H@HFFDTXRZLXDFBFJT@BFPJZHZ?@Jb@BHLj@FJBFDHLR@@LJLJPHVHLDj@Hj@HvATl@J@?^BZBV?LAJ?ZCREPARCR@H?LBL@NFVHTHTFJBRFF?j@HJ@\@X?V?L?J?TAZ?Z@ZBPBXFFBJDRH`@Tb@TFD`@TJHNJTJXJHBJBJ@H?@?\?B?b@AHAP?RBNBLDJFPNRR@@LJHDLDNDF@ZHHBJDFFDDDH@D@F@F?FAD?DKXGPCF?HAH?F@F?B?BBHBHLPHJ\d@Z`@LNf@p@DBDFFDFFDBFBFBB@D@PF^XDFDDh@|@NXBDv@rALTLPHHNLFD@@JDLDx@NFBF@FBJHDBBB@@HLj@`AV`@LVFNBJ@H@JFt@Bj@D|@@N?J?PALAJCL?@CJIREHYd@CHAFCN?J?N@N@HBH@BBFVz@Z~@Tn@Rn@Lb@Nd@L`@h@|ADPh@|ANb@Tp@HVn@bBr@rBTp@HTLXBHDJFLl@hAJRFLFLLRR^?@pAbCBD~@dBR^NXR`@BDNXT`@LXLXFPb@pARh@HR^lADNBPBL@R?LALALABKp@CPU`BG\G\?BADCR?H?H@@BJDJFFDBFDD@J@JAFAFCDC@ADGDGFSDSFOBIFMBG@AFKHK~@aARS^_@X[RY\e@NUP[P[LSPQTSNITM\O@AZQ\UPMRSPQBEPW?ALSFKBGHSBEDIDOBK@EDUBI@GDW@G@IBS@GBIBQBK@EBQBM@ADMDM@EDGHMFIHIHKDCDEJILGNGJCBADAJEJEJENILGHELMNMFKHILSLUFK@CHSFQDUFWP}@Je@F[@KLs@N{@Jg@Hg@@AH]@EDQLa@Rm@r@{BHUDMPi@Nc@J_@F_@@GBO@Y@[?WAY?ECWAICUCQEUCQE]AGWaBWaBAOAEG_@AGCQCM?GCOCOAECUCIAGAIAO?E?G?KBMBI@ABEBEHIFEBCJCHAJ?F?B?HBHBFDJHFDLHNLJHJFRPRLRLBBXLb@NXHTBNBH@@?J@N@L?F?P?@?N?FA\CTCTGTGRGZMPMJGRMLKBCFGNOBCRWDELSNSXa@n@{@PUBAHIDC@AHE@ADCDABA@?HAPEF?J?J?L?J@NDJBHDHDJDDD@?FHBDDBDFDDNNNNPHNJLDDBF@HBH@@?F@ZBH?B@D?@?F@F@F@NDFDFBHFFBHHHJJNJVJTN^HZF`@@@@L@FBRBRDd@Jv@VfAVv@Xv@@@DLBDP\\h@f@p@^b@DHDDDJDFJXHXHVFP@FLb@FPRZd@p@f@l@HL@@FHDFBBFLHLFLDNBLDNBRFTDL@H@@HRh@`ABDb@r@Xd@b@r@d@v@HLPZFFFFB@FBDBBBLB@?F@D?D?N?LCLELGLIDGBCDGDKDIBK@IBIBI@IBKBG@KBEDQFMHOLOLKBCNMVYLOJKHQHSFODUBQBU@Q@SDu@?E@QDg@HsAF_A@K@W@C@KBUD_@F]D[Lo@J_@Rw@Ng@Vo@JYTi@Vi@Te@Ve@DIFMDGJQDMDK?A@K?E@A?M?G?E?MCICQGa@Ie@Kk@AGGQAAOc@KWAMAA?I?I?G?E@I@ODQFYDa@B[@[?W?[E]Ii@ESCOCGKk@Km@Ie@ACE]?ECSEo@@[?Y@UBWBWHa@J]r@}A~@oB`@y@NYLS@ADEVWHIDEDCBAFC@AB?B?DAB?D@D@D@B@DBDB'
                                start_location:
                                  lat: 27.6926438
                                  lng: -17.9724029
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 km
                                  value: 118
                                duration:
                                  text: 1 min
                                  value: 19
                                end_location:
                                  lat: 27.642195
                                  lng: -17.9808183
                                html_instructions: Turn <b>right</b> onto <b>C. las Calmas</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'i{ugDtsvlB@J@`@@^D|@?NFpA'
                                start_location:
                                  lat: 27.6422902
                                  lng: -17.9796272
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 km
                                  value: 106
                                duration:
                                  text: 1 min
                                  value: 34
                                end_location:
                                  lat: 27.6412427
                                  lng: -17.9807285
                                html_instructions: Turn <b>left</b> onto <b>C. Juan Gutiérrez Monteverde</b>
                                maneuver: turn-left
                                polyline:
                                  points: 'uzugDb{vlBRA`@Ct@CD?\CJ?`@C'
                                start_location:
                                  lat: 27.642195
                                  lng: -17.9808183
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 km
                                  value: 115
                                duration:
                                  text: 1 min
                                  value: 18
                                end_location:
                                  lat: 27.6410709
                                  lng: -17.9818738
                                html_instructions: Turn <b>right</b> onto <b>C. el Carmen</b>
                                maneuver: turn-right
                                polyline:
                                  points: wtugDpzvlBDl@?T?L@FDj@Jr@BT?DBL
                                start_location:
                                  lat: 27.6412427
                                  lng: -17.9807285
                                travel_mode: DRIVING
                              - distance:
                                  text: 15 m
                                  value: 15
                                duration:
                                  text: 1 min
                                  value: 9
                                end_location:
                                  lat: 27.6412095
                                  lng: -17.9818845
                                html_instructions: 'Turn <b>right</b> onto <b>C. el Rancho</b><div style="font-size:0.9em">Destination will be on the left</div>'
                                maneuver: turn-right
                                polyline:
                                  points: 'usugDtawlB[@'
                                start_location:
                                  lat: 27.6410709
                                  lng: -17.9818738
                                travel_mode: DRIVING
                            traffic_speed_entry: []
                            via_waypoint: []
                        overview_polyline:
                          points: 'ozkhDxn|lBs@sBj@W`DsAx@_@l@RlArD@M@oAjBT]sFSmA{A{E}CkJgA}@_Ca@qGoJX{AvB}@|@@~CtEfJbKfLbHpCrDpGfR`F`JhB`KbDxBjAdCdEnHDbKbAvMqA~Gn@fIkAfPs@|J|CrMlBb^HjD_ApDKvAn@H~@qEtAaGd@oINmG|ByJtA_LzBqFxAm@|AoC@kBUaChAgHhDyGlCoMiBaETm@|CtEEjIuAhLb@lFs@fBY|@pAjBrAbBGzJqDXyAJ}@hBAjDy@rJf@zBvC~CfAnBK`EeAhJCxJxEbEUpCr@`Bi@rCiAbGI~D|@zAe@jBcA~DiBpKPv@f@uBlBmF`CyCz@oF@kGtBsCfGsDL}DmAeQZcCzC_CvB}DbHqGzBwHh@sH]wGpAcJFkDlBiDvBkIWuBhAsACiCm@uDb@_E~AgEeAsJkDkJ{@wHgDiFmBcD[}DaBsFeBiEyCcFBgEpAmE_@_E}B}C]sG}@yDGiSoC{LgDiNMg@Nk@dAMh@@lBbAxDb@vA|Cd@jB`BMjAeAzHi@pDbC`AsGcAcGRqFEwBnAGfCxAZY_@_E_DeDmFqMhFaJh@QjAz@`AjBjCjBvKjAfB`BfBkA`If@|EdFx@|@d@a@IiDKm@n@SzApBDnA~A`AfE|Kb@|DrArAv@fBJt@DHfABFO@M]iAgAkJ_@gEPcBpCiDx@aEO_DUuIaAmEaAuFNoCh@{CX[h@EbA`EfAzBn@LpA_AxAaAjBs@jAj@rBdApAI~AJzD`ChA?zGiAbJpBdEt@b@_Ay@_Bg@qGs@iCiCeFuByDeDoCaCaCt@a@~Bz@tAIfIbB~DqDvIpDrKdKdC|BzBfBp@z@f@B`@_@^Oz@qB|@}BfBqAz@IpAq@~BcAx@mAhEkCfEUzFsFxDaFlCi@n@eAjDwBD_C]uBN_@|Fl@pA_B~@[tHpIf@g@cAeCuD_JJs@~@\tHzDbDhC|GtD~BjCbBvEbB~BnDxBjH|GjB`@zB]jBa@xAt@jEgA|AnBz@rCjAvBvGnAzHXhId@dH|CxBArBfAhBn@Nx@WzAfBlCzEbFzB`D|Br@lBjDVbFw@zEhIrVtHrPpHhQ{@bJr@n@v@q@rGaJtG{FrAsEhAcDnDoBpAqBjA_GtEaQo@_KeAoHLy@bA_@bEfC`G\zCuAvAeBrD}ClC~@pDtAbA\xArCf@~DdCtG`GpK|A`EnGlJnAOl@_AxBeEbAoCb@oH^cDnCmI|AwEqAyG\wDu@iFYgEtDmKxBiB`@zA`@|CzBKl@CDbARtBSj@'
                        summary: HI-1 and HI-4
                        warnings: []
                        waypoint_order: []
                    status: OK
                boston_concord_waypoints_now_response:
                  value:
                    geocoded_waypoints:
                      - geocoder_status: OK
                        place_id: ChIJGzE9DS1l44kRoOhiASS_fHg
                        types:
                          - locality
                          - political
                      - geocoder_status: OK
                        place_id: ChIJGwVKWe5w44kRcr4b9E25-Go
                        types:
                          - neighborhood
                          - political
                      - geocoder_status: OK
                        place_id: ChIJy1hS39qd44kRzRM2FsiFNoU
                        types:
                          - locality
                          - political
                      - geocoder_status: OK
                        place_id: ChIJ9SKkJkCa44kRkKR4K5p3zlg
                        types:
                          - locality
                          - political
                    routes:
                      - bounds:
                          northeast:
                            lat: 42.50364039999999
                            lng: -71.0552091
                          southwest:
                            lat: 42.3597872
                            lng: -71.3496743
                        copyrights: Map data ©2022 Google
                        legs:
                          - distance:
                              text: 28.2 mi
                              value: 45309
                            duration:
                              text: 52 mins
                              value: 3090
                            duration_in_traffic:
                              text: 53 mins
                              value: 3172
                            end_address: 'Concord, MA, USA'
                            end_location:
                              lat: 42.460387
                              lng: -71.3489306
                            start_address: 'Boston, MA, USA'
                            start_location:
                              lat: 42.3597872
                              lng: -71.0598473
                            steps:
                              - distance:
                                  text: 0.1 mi
                                  value: 178
                                duration:
                                  text: 1 min
                                  value: 41
                                end_location:
                                  lat: 42.360989
                                  lng: -71.0611984
                                html_instructions: Head <b>north</b> on <b>Cambridge St</b> toward <b>Sudbury St</b>
                                polyline:
                                  points: 'ukpaG`{upLKDSHCBULSNUTKHMJKJIJGFIJIJGHCDMZIR[v@'
                                start_location:
                                  lat: 42.3597872
                                  lng: -71.0598473
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 mi
                                  value: 433
                                duration:
                                  text: 2 mins
                                  value: 147
                                end_location:
                                  lat: 42.36317589999999
                                  lng: -71.0569388
                                html_instructions: Turn <b>right</b> onto <b>Sudbury St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'espaGncvpLQKIKMQCCCEIMCIEI[{@Ys@M[_@_Ac@mAk@yAUk@GQEMI_@I[Om@Mk@Mk@CKCGCMEIAECECGACCGEECIIIGGEAAAQI'
                                start_location:
                                  lat: 42.360989
                                  lng: -71.0611984
                                travel_mode: DRIVING
                              - distance:
                                  text: 115 ft
                                  value: 35
                                duration:
                                  text: 1 min
                                  value: 10
                                end_location:
                                  lat: 42.3633932
                                  lng: -71.0572281
                                html_instructions: Slight <b>left</b> onto <b>Cross St</b>
                                maneuver: turn-slight-left
                                polyline:
                                  points: '{`qaGzhupLC??@A?ABOXEFEHEF'
                                start_location:
                                  lat: 42.36317589999999
                                  lng: -71.0569388
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 mi
                                  value: 421
                                duration:
                                  text: 3 mins
                                  value: 171
                                end_location:
                                  lat: 42.3668926
                                  lng: -71.05850219999999
                                html_instructions: Turn <b>right</b> onto <b>Endicott St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'ebqaGtjupLGAIAI?K@o@BwBLk@BI@gAFo@Dc@Bc@B]@IDC@ONq@h@]VeA|@UPGFCDAF?N'
                                start_location:
                                  lat: 42.3633932
                                  lng: -71.0572281
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 mi
                                  value: 512
                                duration:
                                  text: 2 mins
                                  value: 124
                                end_location:
                                  lat: 42.3708118
                                  lng: -71.0614952
                                html_instructions: Slight <b>right</b> onto <b>N Washington St</b>
                                maneuver: turn-slight-right
                                polyline:
                                  points: axqaGrrupLKFMFi@ZCBCBCBKRABCBEB_@Vc@ZIFKNCDCHIZM`@EHIJYZMFe@Vs@b@WJa@VqBdAm@\_@ROFMBK@K?I@A?E@C?GBIBEDIFGFIJA@OHOJ
                                start_location:
                                  lat: 42.3668926
                                  lng: -71.05850219999999
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.5 mi
                                  value: 817
                                duration:
                                  text: 2 mins
                                  value: 123
                                end_location:
                                  lat: 42.3762299
                                  lng: -71.0552091
                                html_instructions: Turn <b>right</b> onto <b>Chelsea St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'qpraGjevpLGAE@GBGBGBIDI@IBC?C?E?MACC[g@GKKQKO[g@?Aa@q@Yc@MQa@s@c@s@KOk@{@S[GIw@gA]g@W]UOQSAAMQ]c@SUSUu@_AACW[OUa@e@CEQWMSKOa@s@Q]Uc@GMEG[a@QUW[KK[]w@{@'
                                start_location:
                                  lat: 42.3708118
                                  lng: -71.0614952
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 mi
                                  value: 181
                                duration:
                                  text: 1 min
                                  value: 27
                                end_location:
                                  lat: 42.37707049999999
                                  lng: -71.0570588
                                html_instructions: Turn <b>left</b> onto <b>Vine St</b>
                                maneuver: turn-left
                                polyline:
                                  points: mrsaG`~tpLKXGLUd@MTYl@Yl@Wj@GNEZKn@Ih@
                                start_location:
                                  lat: 42.3762299
                                  lng: -71.0552091
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.9 mi
                                  value: 1399
                                duration:
                                  text: 3 mins
                                  value: 175
                                end_location:
                                  lat: 42.3834369
                                  lng: -71.0716963
                                html_instructions: Continue onto <b>Bunker Hill St</b>
                                polyline:
                                  points: 'uwsaGriupLI\Mf@IZgAlEI^YjAYjAYfAK`@Mj@YhAKZKh@Sx@W`AMf@]vA[nAW~@Ob@CJGPc@dAk@xAi@pASf@g@nAYp@s@fBm@zA]z@m@zAIPO`@g@pACFg@nAO\Sf@GPaAbCw@pBEJGNSf@Sf@KXQb@CFQd@[v@O\GNSp@'
                                start_location:
                                  lat: 42.37707049999999
                                  lng: -71.0570588
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 mi
                                  value: 153
                                duration:
                                  text: 1 min
                                  value: 25
                                end_location:
                                  lat: 42.384481
                                  lng: -71.072822
                                html_instructions: Continue onto <b>Main St</b>
                                polyline:
                                  points: 'o_uaGbexpLQj@O\O\ILQB}@l@cAv@'
                                start_location:
                                  lat: 42.3834369
                                  lng: -71.0716963
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 mi
                                  value: 420
                                duration:
                                  text: 1 min
                                  value: 60
                                end_location:
                                  lat: 42.3856915
                                  lng: -71.07614339999999
                                html_instructions: 'At the traffic circle, take the <b>3rd</b> exit and stay on <b>Main St</b>'
                                maneuver: roundabout-right
                                polyline:
                                  points: '_fuaGblxpLIAoAOMFGDGDGFGFEHCFA?AF?@CN?@AJ?F?H@F?F@F@B?@Xl@D@t@XF@HTBN@L?HAHCPEL[|@GJQb@ITGPENUn@GROb@ELCBCFCDCDEFOPUX'
                                start_location:
                                  lat: 42.384481
                                  lng: -71.072822
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.5 mi
                                  value: 757
                                duration:
                                  text: 1 min
                                  value: 85
                                end_location:
                                  lat: 42.3906533
                                  lng: -71.0824377
                                html_instructions: Continue onto <b>Mystic Ave</b>
                                polyline:
                                  points: 'qmuaGz`ypLe@f@s@z@MNMPU^KNk@t@ED]^GFIJGFMNy@jAq@`A_C~CkAdBSZ]h@o@`AMNuAjBc@l@Yb@[b@U`@QXW\g@r@EDIJ'
                                start_location:
                                  lat: 42.3856915
                                  lng: -71.07614339999999
                                travel_mode: DRIVING
                              - distance:
                                  text: 105 ft
                                  value: 32
                                duration:
                                  text: 1 min
                                  value: 2
                                end_location:
                                  lat: 42.390895
                                  lng: -71.0826483
                                html_instructions: Continue straight to stay on <b>Mystic Ave</b>
                                maneuver: straight
                                polyline:
                                  points: qlvaGfhzpLq@h@
                                start_location:
                                  lat: 42.3906533
                                  lng: -71.0824377
                                travel_mode: DRIVING
                              - distance:
                                  text: 8.3 mi
                                  value: 13377
                                duration:
                                  text: 8 mins
                                  value: 488
                                end_location:
                                  lat: 42.5027155
                                  lng: -71.118877
                                html_instructions: Merge onto <b>I-93 N</b> via the ramp on the <b>left</b> to <b>Lawrence</b>
                                maneuver: ramp-left
                                polyline:
                                  points: 'cnvaGpizpLCP?@[Z]\a@ZEBSPEBUPC@CBEDSPC@]ZIFq@l@aAt@}@v@e@j@GFSTc@n@_@h@SZGJKRQVYd@INEHGHILCBOVi@z@OV?@E^KLc@l@CD]f@OVGLMRo@`Ai@v@k@|@A?]f@W^A@yB`D_@j@Y`@Y`@q@bAKNCBEFCDCBy@lAOPgAzAoAdB[`@i@p@_@`@m@v@MLuAzAwAtACB}@x@_Av@MJu@p@C@cA~@gCxBkB~AeBzAED[XuAjAaCnBSNCB}CnCwBhBA@yBlBOLwBnB_@\eAx@s@l@{@t@sAhAkA~@{@n@[RC@A?w@d@y@`@GDGBA?q@XG@uBp@e@JC?e@HeAL{ALi@@aAB_A@yIPyBFK?K?_@@q@Bq@BO?a@A?@E?c@?}@@eFF_@?C?C?[Aw@CUAiBMWA[Cs@GoDUoAISCUAa@Em@EiBMMAIAA?MAs@Eg@Ck@Em@EcAGsAGm@Ec@Cg@As@Ao@AYA[?I?I?Y?m@CsA?W@Y?wAGW?i@AmGG{AEYAK?q@I{Cc@eAQGAi@MeAQo@IkEc@IAq@CY?c@?G?[@_BFO@m@FYB]Di@F_@HkB^MD}Bf@_@HmCl@]HaATYFQDc@HQDMDUDwAZi@LYFQDu@PI@uAZi@Ja@JiAVkBb@iB`@aARwAVwARQ@k@F_AHc@Bs@DiABI?eA?m@?Q?O?SAK?qAEo@GA?a@CQAGAIAc@Gm@I}@Mu@Mo@MMCCAUEmAWqRwDc@Ia@IaJiB}AYwGiAkBi@}Cc@gBQk@Ck@CgBEq@A}@?C?]@_@@kBLcAJsANc@HI@_ANG@w@Po@Ny@Ri@P}@V_A\{@\i@TMDm@Xy@`@{@f@cBbAmBhAk@^sBnAy@f@a@VIDu@d@aAl@ID_@Vk@\mAr@IFwA|@i@\]RcAl@[RA?YRuChB_@VYPwBrAg@ZYPcC|AwA~@gBjAk@\iBhAC@_@VQJi@\uHzEy@f@eBdA[RC@YPyDbCSN[Tm@^aAl@IFiEnCOJWNA?YPA?a@X]RmC|Aa@RMFaAf@g@R}Al@y@Z{@XqA`@y@TQDC?qAZQDE?]HmAT[Dw@LkALm@F}ALK@k@B}AFuABa@@]@E?]?G?yFJe@?aFH[@}FH_ABc@@}PVqJNaCBg@@kBB_ADE?gAFI@mAHmBPaANg@FaCb@w@Nw@PE@YHC@GBQD}@V'
                                start_location:
                                  lat: 42.390895
                                  lng: -71.0826483
                                travel_mode: DRIVING
                              - distance:
                                  text: 4.1 mi
                                  value: 6520
                                duration:
                                  text: 4 mins
                                  value: 260
                                end_location:
                                  lat: 42.4913886
                                  lng: -71.1882777
                                html_instructions: Take exit <b>28B</b> to merge onto <b>I-95 S</b> toward <b>Waltham</b>
                                maneuver: ramp-right
                                polyline:
                                  points: '_ilbG~kaqLQOC?A?I@M@SDI?IAGAEAEAEACACAEEAAIEEGCEGIEICICICKCKAMAO?O?O?A@O@SBSBSBUDSDQFUFSDOFOFOFKJQHOHKLQJKFGHG@?DCDADCF?DAV?RFPJNLJPFJFPD^@V?NAN?XA`@AVC`@QdCAPA\Ah@?DYnCUbC[nC?@CVIr@Gt@ADG~@G`AEv@ALQvDEpD?x@@vA?\F~C?F@JDfAF~CH|CHpCFpBHjCJnC?FFhEJjC?J@?@X?FHvBNlFBt@NfCDz@Dh@FfABPDn@Dv@LdBJxAThDHdALhBHrAXjE@NHhADj@Dj@?FDn@Dn@PhCFt@LxBFz@L`BDn@@NVxDDn@LnBBRDl@Bd@Fx@Dx@BZDn@Dn@?@NnBFl@?BHjAJvADv@T`DZ~FDj@Fp@B`@BZH~@B\NpB?DTpDJ~ADl@?@Dn@?@J|ADn@Dp@Dl@HjA@TN`CNfBJ|AFr@V|CD`@BZt@jHh@`F?@V`CDd@@H@JZ|CD^`@zDj@zFT~BHt@BPB^D\BP@FHz@BVDZD^BZBPDf@DXB\DXHx@D\BXBXBL@PD\Hv@LjA\fDLhADd@p@tGPfBHl@Hz@NtAN~AFl@DXFl@Fj@DZPxAPrAVjB@F@D\tBP~@Hn@b@dBTdARx@Rv@DLXz@l@pBTp@p@vBh@tA@BDJTl@FNl@rAVl@DFDF@@Tf@JN@?P`@DH@@?@LPR`@LPHJDF@@R^`@j@DDZf@j@v@DDX`@X^NPd@n@'
                                start_location:
                                  lat: 42.5027155
                                  lng: -71.118877
                                travel_mode: DRIVING
                              - distance:
                                  text: 3.4 mi
                                  value: 5425
                                duration:
                                  text: 3 mins
                                  value: 191
                                end_location:
                                  lat: 42.4697998
                                  lng: -71.2460579
                                html_instructions: Keep <b>left</b> to stay on <b>I-95 S</b>
                                maneuver: keep-left
                                polyline:
                                  points: 'ebjbGv}nqLPTLRHJBDT\v@fAh@p@^h@RV\f@~@pALNX^b@l@PV`ArALPNRNRZ`@fAxArAfBNTtAnBLRBBn@~@T^DFV`@NT@@V`@V`@Vb@d@t@R^d@z@nA~BPZR\DH|@dBBDr@tAJT?@^t@`@|@f@jA@@\t@`@|@@@N\j@tA@D\x@LZ?@jB|Ed@vA^fA`@pA`@pA@Br@`Ch@|Bx@dDv@fDzChMh@|Bh@tB^|ALr@VrA@BZxADRf@fCPx@TlAjBdJLl@t@vDh@fCXzALj@\hBp@dDLl@n@dDh@fCx@dE\bBf@dCVrAFXNx@TzABJVdBXhB?BRtAHv@NpATpBBX?DDp@Hx@PnBNlB^hE\|Dz@|JXzC`@`Fp@tIn@nHv@bJTrBTlBTtAd@zBz@zCz@lCJ\Zv@@BVn@d@fAb@`AP\LTZj@R`@b@v@BDJPVb@@DbAhBr@pA'
                                start_location:
                                  lat: 42.4913886
                                  lng: -71.1882777
                                travel_mode: DRIVING
                              - distance:
                                  text: 2.1 mi
                                  value: 3428
                                duration:
                                  text: 5 mins
                                  value: 314
                                end_location:
                                  lat: 42.4473497
                                  lng: -71.2271531
                                html_instructions: 'Take exit <b>49A</b> to merge onto <b>MA-225 E</b>/<wbr/><b>MA-4 S</b>/<wbr/><b>Bedford St</b> toward <b>Lexington</b><div style="font-size:0.9em">Continue to follow MA-225 E/<wbr/>MA-4 S</div>'
                                maneuver: ramp-right
                                polyline:
                                  points: 'g{ebGzfzqLFj@PbA@D?N?H?N?LAHA@ALCJGLCFEFGJGFABMFGBKDI@G@G?GAE?EACAGCECEAQMOOMOMSKOGIIMEGCICGCECMCGAEAIAEAE?GAGAK?G?O?Q@Q@I@GBOFQDMXq@nBoANK^U^U\WxBwAz@k@lBsAh@]VSBAJMl@_@ZWl@e@h@c@\YJIDCVOTMh@W`@QZOfAe@`@SLGLGd@Y\WXOVMNIXIRI\KtAc@`A[h@SPGHEPIPKNGPKXQdAm@LIp@_@TOf@YPKl@]hAq@`@SVOVMj@UXKnB{@bAa@^O^SPKJGJIPMROf@e@z@u@XW~BuBzDmDpCsCvB{B`@a@PQDENM`@]\YZSpA_ALIZWt@i@hAs@r@g@l@a@VS`As@?A^UXSDCh@a@ROr@g@p@e@\Uf@_@FEJGPIXORI\KDAb@MPEf@Ol@QTGNEHEFCJGLIFEFGRYPa@@A\s@Vm@FO@CDKPa@Xs@d@cAt@gBFKf@oA'
                                start_location:
                                  lat: 42.4697998
                                  lng: -71.2460579
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.2 mi
                                  value: 268
                                duration:
                                  text: 1 min
                                  value: 38
                                end_location:
                                  lat: 42.44526399999999
                                  lng: -71.22872199999999
                                html_instructions: Turn <b>right</b> onto <b>Waltham St</b>
                                maneuver: turn-right
                                polyline:
                                  points: '}nabGtpvqL\Z\XBBt@p@BB`Az@j@h@PNTPJHJDPJPFJDD@TFLB^H'
                                start_location:
                                  lat: 42.4473497
                                  lng: -71.2271531
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.4 mi
                                  value: 681
                                duration:
                                  text: 1 min
                                  value: 86
                                end_location:
                                  lat: 42.4494635
                                  lng: -71.2340479
                                html_instructions: Turn <b>right</b> onto <b>Forest St</b>
                                maneuver: turn-right
                                polyline:
                                  points: '{aabGnzvqLMl@AF[xAKd@Kl@Ml@S~@ITM`@Wd@e@r@MVWb@CDo@~@EFc@j@[ZSRUR[ZMLON[ZQPKJGNOh@MVIRA@ILMRe@\}@\C@s@DgBH'
                                start_location:
                                  lat: 42.44526399999999
                                  lng: -71.22872199999999
                                travel_mode: DRIVING
                              - distance:
                                  text: 1.5 mi
                                  value: 2462
                                duration:
                                  text: 3 mins
                                  value: 209
                                end_location:
                                  lat: 42.4456767
                                  lng: -71.2629326
                                html_instructions: Turn <b>left</b> onto <b>Massachusetts Ave</b>
                                maneuver: turn-left
                                polyline:
                                  points: 'c|abGx{wqL@VBdA?j@BzB?d@@\@X@NBLHp@H`@Fb@D^Ht@DZ^tC@HNrAP|AL`ALjAHt@NzAHv@Fh@?BHl@@HHb@F\ZbBNn@Ln@Ln@Hd@Hf@B^@^?v@?v@A~@?r@?b@Bf@Df@BZHh@DX@DHf@f@fCP|@F\D\BTBZ?T?J?HCj@E~@?T?J?P@Z@\Hz@Dt@@JB\@P?F@h@?F?f@@DE|BA\?Z?B@T?ZPtCBh@@TDdA?^@NAf@Cd@Ed@ALCZAPEh@Eh@Gx@AT?N?@?Z?\@TB`@B^H~@Dt@BVDb@Fv@F^FX@FDNFRJ^BJRf@Ph@DJL\Pf@Rh@?@DNFV@@DPBT@DBP@R@H@P@\?@?j@?`@AP?BEj@?L]jG?DAN?R?P@\@\DZHZ@FDHL\DFJRJN@@\h@'
                                start_location:
                                  lat: 42.4494635
                                  lng: -71.2340479
                                travel_mode: DRIVING
                              - distance:
                                  text: 2.5 mi
                                  value: 4042
                                duration:
                                  text: 4 mins
                                  value: 234
                                end_location:
                                  lat: 42.4531621
                                  lng: -71.3097617
                                html_instructions: 'Turn <b>right</b> onto <b>MA-2A W</b>/<wbr/><b>Marrett Rd</b><div style="font-size:0.9em">Continue to follow MA-2A W</div>'
                                maneuver: turn-right
                                polyline:
                                  points: 'odabGhp}qLwAtBa@l@SVmC|Da@f@AD_@z@GRKd@Ib@Il@UnB]`DCTGr@KvAAJGt@MrBQxBEj@[|DEd@O~A?HI~@OfBKpAErAEzACrAErBGzAA`@C|@ErAE~AG~BAhA?f@B^Bb@H|@Df@Jx@H|@Df@Dh@@T@Z@T?N?hC@hC@jA?`C?dB?J?n@?lBBtDBxA?T?nA@N?P?TAVCTCTGd@Or@AB]vAGXUv@ABSh@AFMXUl@Wj@e@z@u@rAWj@c@~@Sj@A@Sf@ABY~@Wz@Ux@IZADMd@?@Ib@Gj@Gx@A@GbAEd@Gt@AHIfACVEj@IjA[hEKbBKpACd@AHYzDMbBEn@Ej@s@~JQhCGn@GfAIfA_@zEEv@C\APCZ?FCf@ARGrAE|@?JAVEz@KdCKnCG~A?@[pIA^APEzACr@?T'
                                start_location:
                                  lat: 42.4456767
                                  lng: -71.2629326
                                travel_mode: DRIVING
                              - distance:
                                  text: 2.2 mi
                                  value: 3474
                                duration:
                                  text: 4 mins
                                  value: 236
                                end_location:
                                  lat: 42.4602875
                                  lng: -71.348514
                                html_instructions: Slight <b>right</b> onto <b>Lexington Rd</b>
                                maneuver: turn-slight-right
                                polyline:
                                  points: 'gsbbG~tfrLKRELMf@S`AW`AIRGPKVWh@uAtCsAlC[t@Qn@_@hAk@jBGLGRQb@IL[l@EFQ\eAlBWd@W`@?@o@fAi@z@Wf@EHOXEJIPMZOh@Sl@K^K^Mp@CJANEVCZA\EpACh@CZA\EZCPIh@I`@GVWdACJIVGROj@_@tAQh@e@bB}@xCMb@Uz@ADOx@QnAEl@AZAn@HhAHfADj@?@@R?T?D?RA\CnAAPC|@Cx@An@Cr@?b@?@AX?V?f@?^@T?VBv@BhADpADhAFp@JjALdBPrBFh@LtAH|@FxA@LB\?D@`@Bp@?r@@|@Bl@@^D^BXJf@DZXpAHd@BRF`@B^@RBx@BjAFtBBdAFzAXhFLnBBp@?N?J?d@?FC`AM|CMrBIt@OlAI`ACXOhAETStAO~@O`@GNQZc@l@i@|@[f@q@fAMVKXa@nAc@hAO^KXMRIN'
                                start_location:
                                  lat: 42.4531621
                                  lng: -71.3097617
                                travel_mode: DRIVING
                              - distance:
                                  text: 203 ft
                                  value: 62
                                duration:
                                  text: 1 min
                                  value: 9
                                end_location:
                                  lat: 42.46078600000001
                                  lng: -71.348839
                                html_instructions: Continue onto <b>MA-62 E</b>
                                polyline:
                                  points: y_dbGdgnrLa@JEDe@b@UJ
                                start_location:
                                  lat: 42.4602875
                                  lng: -71.348514
                                travel_mode: DRIVING
                              - distance:
                                  text: 276 ft
                                  value: 84
                                duration:
                                  text: 1 min
                                  value: 12
                                end_location:
                                  lat: 42.4614275
                                  lng: -71.3493778
                                html_instructions: Continue straight onto <b>Monument Square</b>
                                maneuver: straight
                                polyline:
                                  points: '}bdbGfinrLuAhAi@`@'
                                start_location:
                                  lat: 42.46078600000001
                                  lng: -71.348839
                                travel_mode: DRIVING
                              - distance:
                                  text: 486 ft
                                  value: 148
                                duration:
                                  text: 1 min
                                  value: 23
                                end_location:
                                  lat: 42.460387
                                  lng: -71.3489306
                                html_instructions: Turn <b>left</b> onto <b>MA-62 W</b>
                                maneuver: turn-left
                                polyline:
                                  points: '}fdbGrlnrLTx@~AcAJIf@[PQRW'
                                start_location:
                                  lat: 42.4614275
                                  lng: -71.3493778
                                travel_mode: DRIVING
                            traffic_speed_entry: []
                            via_waypoint:
                              - location:
                                  lat: 42.3786389
                                  lng: -71.0615862
                                step_index: 7
                                step_interpolation: 0.2936008261838677
                              - location:
                                  lat: 42.4473497
                                  lng: -71.2271531
                                step_index: 15
                                step_interpolation: 1
                        overview_polyline:
                          points: 'ukpaG`{upL}B|AkAbBe@jA[W_@i@}DgKm@kBu@aDQk@c@y@g@S]n@a@BeKj@oALeDnCc@f@KVw@b@W^k@b@y@r@_@lAw@x@sC~AoE~Bo@Fm@Vc@^e@N{@RQEc@s@s@kA{EwHuBwCw@w@gEkFaCeEkDaEkCzFe@rCiBpHyC|L_DzLkGtOoLbZ{BxFeAxC}CvByAQUL]^Mv@B`@`@t@|@ZLd@Cr@iBbFs@dBoJtLkStY{@t@CR{AtAcAv@wG~FyCjEyBnDUx@qAhBkDpFgGzIyChE}EtGqDbEaHjGwSpQqPzNuEzDwFlE{DlBgD~@kBVeCNuQ^iBDqLLsGW{Kw@{Gc@_Li@eZ_@_H_AgDk@aHi@gDHuBRcEv@{MvCgXbGmFt@aFVqGGiEc@k[eGeOwCcKsBeGu@qFO_CBcGh@uB\kEfAcFhBqDhBqJ|FsHtEa[tR_c@lX{KfHmGpDuEpBaGlBgGlAqDb@sFZ{LRup@bAuINeDRyIlAoCl@{Ab@a@Mu@DYGk@i@Qi@Gy@TgC~@iCfAmAXGj@F`@X`@nA?pA_@`IcBlPWfEWhJ@pCHpE`@vOr@vVz@jTzCld@jC`a@|Fv|@|AhThC~V~Dp`@vB|SjClW~AvMr@bEvAtGrErNvB~E~@hBnGfJzLtPvHfKzEfHxFzJlD|G|DtIxApDpD~JxBhHvHt[|DjQ`R`_AbDdRlAfL`Fzk@nD|a@j@bE`BvGdBfFrBvEjC|EvBzDXnB@n@[pA_@^e@Ls@O}@aAc@o@YcAC}ANs@^_A~B{AvE{CjFqDzEuDdGuCzDsB`HaChFyCnH}DvHkDhCyBfNoMpDuDjByAtJ}GrF}DjEmCtEqAj@[t@iArByEjCgGtBjBbCxB~@l@x@Vl@LOt@aAzE]tAe@fAoAtBuBnC}CzCo@dB_A`AaA^{CNHdGDlBV`B`BfNpArLdBdJN~CAnEVtCx@nEb@nCBfAIlCLfCNrEE|DRjEJdDIbC]nFXhGXrCVdAnBxF^jBDnDe@dKRrBZv@v@nA{GxJc@l@g@nAu@fF_BrR}ArRi@fSOpIVhDf@`HJvd@_@dC}@lDe@nAiChFqAxCgAfDo@`CYjCm@vH}AvToDlh@u@fR_@dKInCKh@_AxDu@fBiDbHm@dB{AvEmDxGeD~FeBbG]vG]xBm@`CqE|Oi@|DCjARpCFvAEfCQlHN`JnA`P\pILjDn@nDXzBPnGr@zNBrB_@zIg@~Ey@tFmAzBeCdEaBrEYl@k@ZwC~Bi@`@Tx@jBmAlAeA'
                        summary: I-93 N and I-95 S
                        warnings: []
                        waypoint_order: []
                    status: OK
                boston_concord_waypoints_response:
                  value:
                    geocoded_waypoints:
                      - geocoder_status: OK
                        place_id: ChIJGzE9DS1l44kRoOhiASS_fHg
                        types:
                          - locality
                          - political
                      - geocoder_status: OK
                        place_id: ChIJGwVKWe5w44kRcr4b9E25-Go
                        types:
                          - neighborhood
                          - political
                      - geocoder_status: OK
                        place_id: ChIJy1hS39qd44kRzRM2FsiFNoU
                        types:
                          - locality
                          - political
                      - geocoder_status: OK
                        place_id: ChIJ9SKkJkCa44kRkKR4K5p3zlg
                        types:
                          - locality
                          - political
                    routes:
                      - bounds:
                          northeast:
                            lat: 42.503617
                            lng: -71.0552091
                          southwest:
                            lat: 42.3597872
                            lng: -71.3496743
                        copyrights: Map data ©2022 Google
                        legs:
                          - distance:
                              text: 28.2 mi
                              value: 45307
                            duration:
                              text: 50 mins
                              value: 3010
                            end_address: 'Concord, MA, USA'
                            end_location:
                              lat: 42.460387
                              lng: -71.3489306
                            start_address: 'Boston, MA, USA'
                            start_location:
                              lat: 42.3597872
                              lng: -71.0598473
                            steps:
                              - distance:
                                  text: 0.1 mi
                                  value: 178
                                duration:
                                  text: 1 min
                                  value: 41
                                end_location:
                                  lat: 42.360989
                                  lng: -71.0611984
                                html_instructions: Head <b>north</b> on <b>Cambridge St</b> toward <b>Sudbury St</b>
                                polyline:
                                  points: 'ukpaG`{upLKDSHCBULSNUTKHMJKJIJGFIJIJGHCDMZIR[v@'
                                start_location:
                                  lat: 42.3597872
                                  lng: -71.0598473
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 mi
                                  value: 433
                                duration:
                                  text: 2 mins
                                  value: 147
                                end_location:
                                  lat: 42.36317589999999
                                  lng: -71.0569388
                                html_instructions: Turn <b>right</b> onto <b>Sudbury St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'espaGncvpLQKIKMQCCCEIMCIEI[{@Ys@M[_@_Ac@mAk@yAUk@GQEMI_@I[Om@Mk@Mk@CKCGCMEIAECECGACCGEECIIIGGEAAAQI'
                                start_location:
                                  lat: 42.360989
                                  lng: -71.0611984
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 mi
                                  value: 168
                                duration:
                                  text: 1 min
                                  value: 37
                                end_location:
                                  lat: 42.3643705
                                  lng: -71.0581725
                                html_instructions: Slight <b>left</b> onto <b>Cross St</b>
                                maneuver: turn-slight-left
                                polyline:
                                  points: '{`qaGzhupLC??@A?ABOXEFEHEFMNMNKLML]VMNONOHKFEFMJIFABC@QR'
                                start_location:
                                  lat: 42.36317589999999
                                  lng: -71.0569388
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.5 mi
                                  value: 798
                                duration:
                                  text: 3 mins
                                  value: 188
                                end_location:
                                  lat: 42.3708118
                                  lng: -71.0614952
                                html_instructions: Turn <b>right</b> onto <b>N Washington St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'ihqaGppupLORg@@GBE@EDGFcA@M?_@A]@qBHaBH_A@KFMFi@ZCBCBCBKRABCBEB_@Vc@ZIFKNCDCHIZM`@EHIJYZMFe@Vs@b@WJa@VqBdAm@\_@ROFMBK@K?I@A?E@C?GBIBEDIFGFIJA@OHOJ'
                                start_location:
                                  lat: 42.3643705
                                  lng: -71.0581725
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.5 mi
                                  value: 817
                                duration:
                                  text: 2 mins
                                  value: 123
                                end_location:
                                  lat: 42.3762299
                                  lng: -71.0552091
                                html_instructions: Turn <b>right</b> onto <b>Chelsea St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'qpraGjevpLGAE@GBGBGBIDI@IBC?C?E?MACC[g@GKKQKO[g@?Aa@q@Yc@MQa@s@c@s@KOk@{@S[GIw@gA]g@W]UOQSAAMQ]c@SUSUu@_AACW[OUa@e@CEQWMSKOa@s@Q]Uc@GMEG[a@QUW[KK[]w@{@'
                                start_location:
                                  lat: 42.3708118
                                  lng: -71.0614952
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 mi
                                  value: 181
                                duration:
                                  text: 1 min
                                  value: 27
                                end_location:
                                  lat: 42.37707049999999
                                  lng: -71.0570588
                                html_instructions: Turn <b>left</b> onto <b>Vine St</b>
                                maneuver: turn-left
                                polyline:
                                  points: mrsaG`~tpLKXGLUd@MTYl@Yl@Wj@GNEZKn@Ih@
                                start_location:
                                  lat: 42.3762299
                                  lng: -71.0552091
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.9 mi
                                  value: 1399
                                duration:
                                  text: 3 mins
                                  value: 175
                                end_location:
                                  lat: 42.3834369
                                  lng: -71.0716963
                                html_instructions: Continue onto <b>Bunker Hill St</b>
                                polyline:
                                  points: 'uwsaGriupLI\Mf@IZgAlEI^YjAYjAYfAK`@Mj@YhAKZKh@Sx@W`AMf@]vA[nAW~@Ob@CJGPc@dAk@xAi@pASf@g@nAYp@s@fBm@zA]z@m@zAIPO`@g@pACFg@nAO\Sf@GPaAbCw@pBEJGNSf@Sf@KXQb@CFQd@[v@O\GNSp@'
                                start_location:
                                  lat: 42.37707049999999
                                  lng: -71.0570588
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 mi
                                  value: 153
                                duration:
                                  text: 1 min
                                  value: 25
                                end_location:
                                  lat: 42.384481
                                  lng: -71.072822
                                html_instructions: Continue onto <b>Main St</b>
                                polyline:
                                  points: 'o_uaGbexpLQj@O\O\ILQB}@l@cAv@'
                                start_location:
                                  lat: 42.3834369
                                  lng: -71.0716963
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 mi
                                  value: 420
                                duration:
                                  text: 1 min
                                  value: 60
                                end_location:
                                  lat: 42.3856915
                                  lng: -71.07614339999999
                                html_instructions: 'At the traffic circle, take the <b>3rd</b> exit and stay on <b>Main St</b>'
                                maneuver: roundabout-right
                                polyline:
                                  points: '_fuaGblxpLIAoAOMFGDGDGFGFEHCFA?AF?@CN?@AJ?F?H@F?F@F@B?@Xl@D@t@XF@HTBN@L?HAHCPEL[|@GJQb@ITGPENUn@GROb@ELCBCFCDCDEFOPUX'
                                start_location:
                                  lat: 42.384481
                                  lng: -71.072822
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.5 mi
                                  value: 757
                                duration:
                                  text: 1 min
                                  value: 85
                                end_location:
                                  lat: 42.3906533
                                  lng: -71.0824377
                                html_instructions: Continue onto <b>Mystic Ave</b>
                                polyline:
                                  points: 'qmuaGz`ypLe@f@s@z@MNMPU^KNk@t@ED]^GFIJGFMNy@jAq@`A_C~CkAdBSZ]h@o@`AMNuAjBc@l@Yb@[b@U`@QXW\g@r@EDIJ'
                                start_location:
                                  lat: 42.3856915
                                  lng: -71.07614339999999
                                travel_mode: DRIVING
                              - distance:
                                  text: 105 ft
                                  value: 32
                                duration:
                                  text: 1 min
                                  value: 2
                                end_location:
                                  lat: 42.390895
                                  lng: -71.0826483
                                html_instructions: Continue straight to stay on <b>Mystic Ave</b>
                                maneuver: straight
                                polyline:
                                  points: qlvaGfhzpLq@h@
                                start_location:
                                  lat: 42.3906533
                                  lng: -71.0824377
                                travel_mode: DRIVING
                              - distance:
                                  text: 8.3 mi
                                  value: 13377
                                duration:
                                  text: 8 mins
                                  value: 488
                                end_location:
                                  lat: 42.5027155
                                  lng: -71.118877
                                html_instructions: Merge onto <b>I-93 N</b> via the ramp on the <b>left</b> to <b>Lawrence</b>
                                maneuver: ramp-left
                                polyline:
                                  points: 'cnvaGpizpLCP?@[Z]\a@ZEBSPEBUPC@CBEDSPC@]ZIFq@l@aAt@}@v@e@j@GFSTc@n@_@h@SZGJKRQVYd@INEHGHILCBOVi@z@OV?@E^KLc@l@CD]f@OVGLMRo@`Ai@v@k@|@A?]f@W^A@yB`D_@j@Y`@Y`@q@bAKNCBEFCDCBy@lAOPgAzAoAdB[`@i@p@_@`@m@v@MLuAzAwAtACB}@x@_Av@MJu@p@C@cA~@gCxBkB~AeBzAED[XuAjAaCnBSNCB}CnCwBhBA@yBlBOLwBnB_@\eAx@s@l@{@t@sAhAkA~@{@n@[RC@A?w@d@y@`@GDGBA?q@XG@uBp@e@JC?e@HeAL{ALi@@aAB_A@yIPyBFK?K?_@@q@Bq@BO?a@A?@E?c@?}@@eFF_@?C?C?[Aw@CUAiBMWA[Cs@GoDUoAISCUAa@Em@EiBMMAIAA?MAs@Eg@Ck@Em@EcAGsAGm@Ec@Cg@As@Ao@AYA[?I?I?Y?m@CsA?W@Y?wAGW?i@AmGG{AEYAK?q@I{Cc@eAQGAi@MeAQo@IkEc@IAq@CY?c@?G?[@_BFO@m@FYB]Di@F_@HkB^MD}Bf@_@HmCl@]HaATYFQDc@HQDMDUDwAZi@LYFQDu@PI@uAZi@Ja@JiAVkBb@iB`@aARwAVwARQ@k@F_AHc@Bs@DiABI?eA?m@?Q?O?SAK?qAEo@GA?a@CQAGAIAc@Gm@I}@Mu@Mo@MMCCAUEmAWqRwDc@Ia@IaJiB}AYwGiAkBi@}Cc@gBQk@Ck@CgBEq@A}@?C?]@_@@kBLcAJsANc@HI@_ANG@w@Po@Ny@Ri@P}@V_A\{@\i@TMDm@Xy@`@{@f@cBbAmBhAk@^sBnAy@f@a@VIDu@d@aAl@ID_@Vk@\mAr@IFwA|@i@\]RcAl@[RA?YRuChB_@VYPwBrAg@ZYPcC|AwA~@gBjAk@\iBhAC@_@VQJi@\uHzEy@f@eBdA[RC@YPyDbCSN[Tm@^aAl@IFiEnCOJWNA?YPA?a@X]RmC|Aa@RMFaAf@g@R}Al@y@Z{@XqA`@y@TQDC?qAZQDE?]HmAT[Dw@LkALm@F}ALK@k@B}AFuABa@@]@E?]?G?yFJe@?aFH[@}FH_ABc@@}PVqJNaCBg@@kBB_ADE?gAFI@mAHmBPaANg@FaCb@w@Nw@PE@YHC@GBQD}@V'
                                start_location:
                                  lat: 42.390895
                                  lng: -71.0826483
                                travel_mode: DRIVING
                              - distance:
                                  text: 4.1 mi
                                  value: 6520
                                duration:
                                  text: 4 mins
                                  value: 260
                                end_location:
                                  lat: 42.4913886
                                  lng: -71.1882777
                                html_instructions: Take exit <b>28B</b> to merge onto <b>I-95 S</b> toward <b>Waltham</b>
                                maneuver: ramp-right
                                polyline:
                                  points: '_ilbG~kaqLQOC?A?I@M@SDI?IAGAEAEAEACACAEEAAIEEGCEGIEICICICKCKAMAO?O?O?A@O@SBSBSBUDSDQFUFSDOFOFOFKJQHOHKLQJKFGHG@?DCDADCF?DAV?RFPJNLJPFJFPD^@V?NAN?XA`@AVC`@QdCAPA\Ah@?DYnCUbC[nC?@CVIr@Gt@ADG~@G`AEv@ALQvDEpD?x@@vA?\F~C?F@JDfAF~CH|CHpCFpBHjCJnC?FFhEJjC?J@?@X?FHvBNlFBt@NfCDz@Dh@FfABPDn@Dv@LdBJxAThDHdALhBHrAXjE@NHhADj@Dj@?FDn@Dn@PhCFt@LxBFz@L`BDn@@NVxDDn@LnBBRDl@Bd@Fx@Dx@BZDn@Dn@?@NnBFl@?BHjAJvADv@T`DZ~FDj@Fp@B`@BZH~@B\NpB?DTpDJ~ADl@?@Dn@?@J|ADn@Dp@Dl@HjA@TN`CNfBJ|AFr@V|CD`@BZt@jHh@`F?@V`CDd@@H@JZ|CD^`@zDj@zFT~BHt@BPB^D\BP@FHz@BVDZD^BZBPDf@DXB\DXHx@D\BXBXBL@PD\Hv@LjA\fDLhADd@p@tGPfBHl@Hz@NtAN~AFl@DXFl@Fj@DZPxAPrAVjB@F@D\tBP~@Hn@b@dBTdARx@Rv@DLXz@l@pBTp@p@vBh@tA@BDJTl@FNl@rAVl@DFDF@@Tf@JN@?P`@DH@@?@LPR`@LPHJDF@@R^`@j@DDZf@j@v@DDX`@X^NPd@n@'
                                start_location:
                                  lat: 42.5027155
                                  lng: -71.118877
                                travel_mode: DRIVING
                              - distance:
                                  text: 3.4 mi
                                  value: 5425
                                duration:
                                  text: 3 mins
                                  value: 191
                                end_location:
                                  lat: 42.4697998
                                  lng: -71.2460579
                                html_instructions: Keep <b>left</b> to stay on <b>I-95 S</b>
                                maneuver: keep-left
                                polyline:
                                  points: 'ebjbGv}nqLPTLRHJBDT\v@fAh@p@^h@RV\f@~@pALNX^b@l@PV`ArALPNRNRZ`@fAxArAfBNTtAnBLRBBn@~@T^DFV`@NT@@V`@V`@Vb@d@t@R^d@z@nA~BPZR\DH|@dBBDr@tAJT?@^t@`@|@f@jA@@\t@`@|@@@N\j@tA@D\x@LZ?@jB|Ed@vA^fA`@pA`@pA@Br@`Ch@|Bx@dDv@fDzChMh@|Bh@tB^|ALr@VrA@BZxADRf@fCPx@TlAjBdJLl@t@vDh@fCXzALj@\hBp@dDLl@n@dDh@fCx@dE\bBf@dCVrAFXNx@TzABJVdBXhB?BRtAHv@NpATpBBX?DDp@Hx@PnBNlB^hE\|Dz@|JXzC`@`Fp@tIn@nHv@bJTrBTlBTtAd@zBz@zCz@lCJ\Zv@@BVn@d@fAb@`AP\LTZj@R`@b@v@BDJPVb@@DbAhBr@pA'
                                start_location:
                                  lat: 42.4913886
                                  lng: -71.1882777
                                travel_mode: DRIVING
                              - distance:
                                  text: 2.1 mi
                                  value: 3428
                                duration:
                                  text: 5 mins
                                  value: 314
                                end_location:
                                  lat: 42.4473497
                                  lng: -71.2271531
                                html_instructions: 'Take exit <b>49A</b> to merge onto <b>MA-225 E</b>/<wbr/><b>MA-4 S</b>/<wbr/><b>Bedford St</b> toward <b>Lexington</b><div style="font-size:0.9em">Continue to follow MA-225 E/<wbr/>MA-4 S</div>'
                                maneuver: ramp-right
                                polyline:
                                  points: 'g{ebGzfzqLFj@PbA@D?N?H?N?LAHA@ALCJGLCFEFGJGFABMFGBKDI@G@G?GAE?EACAGCECEAQMOOMOMSKOGIIMEGCICGCECMCGAEAIAEAE?GAGAK?G?O?Q@Q@I@GBOFQDMXq@nBoANK^U^U\WxBwAz@k@lBsAh@]VSBAJMl@_@ZWl@e@h@c@\YJIDCVOTMh@W`@QZOfAe@`@SLGLGd@Y\WXOVMNIXIRI\KtAc@`A[h@SPGHEPIPKNGPKXQdAm@LIp@_@TOf@YPKl@]hAq@`@SVOVMj@UXKnB{@bAa@^O^SPKJGJIPMROf@e@z@u@XW~BuBzDmDpCsCvB{B`@a@PQDENM`@]\YZSpA_ALIZWt@i@hAs@r@g@l@a@VS`As@?A^UXSDCh@a@ROr@g@p@e@\Uf@_@FEJGPIXORI\KDAb@MPEf@Ol@QTGNEHEFCJGLIFEFGRYPa@@A\s@Vm@FO@CDKPa@Xs@d@cAt@gBFKf@oA'
                                start_location:
                                  lat: 42.4697998
                                  lng: -71.2460579
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.2 mi
                                  value: 268
                                duration:
                                  text: 1 min
                                  value: 38
                                end_location:
                                  lat: 42.44526399999999
                                  lng: -71.22872199999999
                                html_instructions: Turn <b>right</b> onto <b>Waltham St</b>
                                maneuver: turn-right
                                polyline:
                                  points: '}nabGtpvqL\Z\XBBt@p@BB`Az@j@h@PNTPJHJDPJPFJDD@TFLB^H'
                                start_location:
                                  lat: 42.4473497
                                  lng: -71.2271531
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.4 mi
                                  value: 681
                                duration:
                                  text: 1 min
                                  value: 86
                                end_location:
                                  lat: 42.4494635
                                  lng: -71.2340479
                                html_instructions: Turn <b>right</b> onto <b>Forest St</b>
                                maneuver: turn-right
                                polyline:
                                  points: '{aabGnzvqLMl@AF[xAKd@Kl@Ml@S~@ITM`@Wd@e@r@MVWb@CDo@~@EFc@j@[ZSRUR[ZMLON[ZQPKJGNOh@MVIRA@ILMRe@\}@\C@s@DgBH'
                                start_location:
                                  lat: 42.44526399999999
                                  lng: -71.22872199999999
                                travel_mode: DRIVING
                              - distance:
                                  text: 1.5 mi
                                  value: 2462
                                duration:
                                  text: 3 mins
                                  value: 209
                                end_location:
                                  lat: 42.4456767
                                  lng: -71.2629326
                                html_instructions: Turn <b>left</b> onto <b>Massachusetts Ave</b>
                                maneuver: turn-left
                                polyline:
                                  points: 'c|abGx{wqL@VBdA?j@BzB?d@@\@X@NBLHp@H`@Fb@D^Ht@DZ^tC@HNrAP|AL`ALjAHt@NzAHv@Fh@?BHl@@HHb@F\ZbBNn@Ln@Ln@Hd@Hf@B^@^?v@?v@A~@?r@?b@Bf@Df@BZHh@DX@DHf@f@fCP|@F\D\BTBZ?T?J?HCj@E~@?T?J?P@Z@\Hz@Dt@@JB\@P?F@h@?F?f@@DE|BA\?Z?B@T?ZPtCBh@@TDdA?^@NAf@Cd@Ed@ALCZAPEh@Eh@Gx@AT?N?@?Z?\@TB`@B^H~@Dt@BVDb@Fv@F^FX@FDNFRJ^BJRf@Ph@DJL\Pf@Rh@?@DNFV@@DPBT@DBP@R@H@P@\?@?j@?`@AP?BEj@?L]jG?DAN?R?P@\@\DZHZ@FDHL\DFJRJN@@\h@'
                                start_location:
                                  lat: 42.4494635
                                  lng: -71.2340479
                                travel_mode: DRIVING
                              - distance:
                                  text: 2.5 mi
                                  value: 4042
                                duration:
                                  text: 4 mins
                                  value: 234
                                end_location:
                                  lat: 42.4531621
                                  lng: -71.3097617
                                html_instructions: 'Turn <b>right</b> onto <b>MA-2A W</b>/<wbr/><b>Marrett Rd</b><div style="font-size:0.9em">Continue to follow MA-2A W</div>'
                                maneuver: turn-right
                                polyline:
                                  points: 'odabGhp}qLwAtBa@l@SVmC|Da@f@AD_@z@GRKd@Ib@Il@UnB]`DCTGr@KvAAJGt@MrBQxBEj@[|DEd@O~A?HI~@OfBKpAErAEzACrAErBGzAA`@C|@ErAE~AG~BAhA?f@B^Bb@H|@Df@Jx@H|@Df@Dh@@T@Z@T?N?hC@hC@jA?`C?dB?J?n@?lBBtDBxA?T?nA@N?P?TAVCTCTGd@Or@AB]vAGXUv@ABSh@AFMXUl@Wj@e@z@u@rAWj@c@~@Sj@A@Sf@ABY~@Wz@Ux@IZADMd@?@Ib@Gj@Gx@A@GbAEd@Gt@AHIfACVEj@IjA[hEKbBKpACd@AHYzDMbBEn@Ej@s@~JQhCGn@GfAIfA_@zEEv@C\APCZ?FCf@ARGrAE|@?JAVEz@KdCKnCG~A?@[pIA^APEzACr@?T'
                                start_location:
                                  lat: 42.4456767
                                  lng: -71.2629326
                                travel_mode: DRIVING
                              - distance:
                                  text: 2.2 mi
                                  value: 3474
                                duration:
                                  text: 4 mins
                                  value: 236
                                end_location:
                                  lat: 42.4602875
                                  lng: -71.348514
                                html_instructions: Slight <b>right</b> onto <b>Lexington Rd</b>
                                maneuver: turn-slight-right
                                polyline:
                                  points: 'gsbbG~tfrLKRELMf@S`AW`AIRGPKVWh@uAtCsAlC[t@Qn@_@hAk@jBGLGRQb@IL[l@EFQ\eAlBWd@W`@?@o@fAi@z@Wf@EHOXEJIPMZOh@Sl@K^K^Mp@CJANEVCZA\EpACh@CZA\EZCPIh@I`@GVWdACJIVGROj@_@tAQh@e@bB}@xCMb@Uz@ADOx@QnAEl@AZAn@HhAHfADj@?@@R?T?D?RA\CnAAPC|@Cx@An@Cr@?b@?@AX?V?f@?^@T?VBv@BhADpADhAFp@JjALdBPrBFh@LtAH|@FxA@LB\?D@`@Bp@?r@@|@Bl@@^D^BXJf@DZXpAHd@BRF`@B^@RBx@BjAFtBBdAFzAXhFLnBBp@?N?J?d@?FC`AM|CMrBIt@OlAI`ACXOhAETStAO~@O`@GNQZc@l@i@|@[f@q@fAMVKXa@nAc@hAO^KXMRIN'
                                start_location:
                                  lat: 42.4531621
                                  lng: -71.3097617
                                travel_mode: DRIVING
                              - distance:
                                  text: 203 ft
                                  value: 62
                                duration:
                                  text: 1 min
                                  value: 9
                                end_location:
                                  lat: 42.46078600000001
                                  lng: -71.348839
                                html_instructions: Continue onto <b>MA-62 E</b>
                                polyline:
                                  points: y_dbGdgnrLa@JEDe@b@UJ
                                start_location:
                                  lat: 42.4602875
                                  lng: -71.348514
                                travel_mode: DRIVING
                              - distance:
                                  text: 276 ft
                                  value: 84
                                duration:
                                  text: 1 min
                                  value: 12
                                end_location:
                                  lat: 42.4614275
                                  lng: -71.3493778
                                html_instructions: Continue straight onto <b>Monument Square</b>
                                maneuver: straight
                                polyline:
                                  points: '}bdbGfinrLuAhAi@`@'
                                start_location:
                                  lat: 42.46078600000001
                                  lng: -71.348839
                                travel_mode: DRIVING
                              - distance:
                                  text: 486 ft
                                  value: 148
                                duration:
                                  text: 1 min
                                  value: 23
                                end_location:
                                  lat: 42.460387
                                  lng: -71.3489306
                                html_instructions: Turn <b>left</b> onto <b>MA-62 W</b>
                                maneuver: turn-left
                                polyline:
                                  points: '}fdbGrlnrLTx@~AcAJIf@[PQRW'
                                start_location:
                                  lat: 42.4614275
                                  lng: -71.3493778
                                travel_mode: DRIVING
                            traffic_speed_entry: []
                            via_waypoint:
                              - location:
                                  lat: 42.3786389
                                  lng: -71.0615862
                                step_index: 6
                                step_interpolation: 0.2936008261838677
                              - location:
                                  lat: 42.4473497
                                  lng: -71.2271531
                                step_index: 14
                                step_interpolation: 1
                        overview_polyline:
                          points: 'ukpaG`{upL}B|AkAbBe@jA[W_@i@}DgKm@kBu@aDQk@c@y@g@SkAdByBjBa@`@ORg@@MDMLqA@qGRkAHw@b@W^eBvA_@lAw@x@cJ~EcAL}@p@iA^WBQEc@s@s@kAkB{CeFsHw@w@{BoC{B}CqAcCkA{A_BeBw@bBsAvCe@rCcErPwCvLgA~DaCbGmGvOqEfL{GhQ}CvByAQUL]^GPAfA`@t@|@ZLd@Cr@{@zBoApDgH`JkJrMaH~JwApB{@t@CR{AtAu@j@mAbAwEfE_BvBkB|CgAdBUx@gDdFoC~DuGpJoH~JqDbEyEjEeNtLa_@r[wFlEwBhAkFbBkBVeCNuQ^mEHqKFoMw@iTuA}GQgIImLQ_H_AgDk@aHi@gDHuBRcEv@iIhB_HzAwHbBaJpBmFt@aFVoC?gFUuGcA_f@oJcKsBeGu@qFO_CBcGh@uB\kEfAcFhBqDhBmOhJ{U~Nie@`ZmTdNoF~CuEpBaGlByBf@_IhAsFZ{CFaY`@ij@|@eDRyIlAkFpAa@Mu@Di@Sm@gACoBl@}CpAwBr@[j@F`@X`@nAYrHE~AkAdLo@nIWhJ@pCHpE~@l\p@hVbD~g@fCz_@`Gl}@x@rMz@vKhBjQdBxP~AzOtAbNdFxf@tBxNvAtG`BrFvClIvBjEhAtBtCfEfLxOlPdUlChExGzLzIzRpD~JxBhHxLzg@jNnr@hGd[xBzOpL|tAj@bE`BvGdBfFrBvE`BzCh@`AvBzDXnB@n@Ef@Uh@_@^e@L[CWK}@aAs@uAO_A@{@Ns@^_A~B{AvE{CdIyF`CmB|Ay@fG}CzAq@hEuAdD}AlI}EjJaEhAq@hCyBfNoMpDuD|GeF~HqFvF_EjAk@xAa@fDkAt@iA~@sB~DmJxFdF~@l@x@Vl@LOt@aAzE]tAe@fAoAtBuBnCsApAiAhAo@dB_A`AaA^{CNHdGDlBt@vFxBpRjAbIt@tDN~CAnEVtC|A~IEtEZxFC~G^pJWhFMzEp@jIvCjJVlCe@jLAz@RrBrAfC{GxJc@l@g@nAu@fFu@bIaB~Se@bGUvJc@`Rx@rJP~d@?nA_@dCcB|FiChFqAxCwBhHq@lHgAnOqEjo@_Bla@InCKh@_AxDu@fBiDbHm@dB{AvEw@~AgF`Js@vA{@dCi@|BM`BOtD]xBwB`IgC|Ii@|DCjARpCFvAQ`IChFLjFf@lH~@vLRxHhAjHPnGr@zNBrB_@zIg@~Ey@tFmAzBeCdEaBrEYl@k@ZwC~Bi@`@Tx@jBmAlAeA'
                        summary: I-93 N and I-95 S
                        warnings: []
                        waypoint_order: []
                    status: OK
                boston_concord_waypoints_via_response:
                  value:
                    geocoded_waypoints:
                      - geocoder_status: OK
                        place_id: ChIJGzE9DS1l44kRoOhiASS_fHg
                        types:
                          - locality
                          - political
                      - geocoder_status: OK
                        place_id: ChIJGwVKWe5w44kRcr4b9E25-Go
                        types:
                          - neighborhood
                          - political
                      - geocoder_status: OK
                        place_id: ChIJy1hS39qd44kRzRM2FsiFNoU
                        types:
                          - locality
                          - political
                      - geocoder_status: OK
                        place_id: ChIJ9SKkJkCa44kRkKR4K5p3zlg
                        types:
                          - locality
                          - political
                    routes:
                      - bounds:
                          northeast:
                            lat: 42.503617
                            lng: -71.0552091
                          southwest:
                            lat: 42.3597872
                            lng: -71.3496743
                        copyrights: Map data ©2022 Google
                        legs:
                          - distance:
                              text: 1.9 mi
                              value: 2986
                            duration:
                              text: 10 mins
                              value: 621
                            end_address: 'Charlestown, Boston, MA, USA'
                            end_location:
                              lat: 42.3786389
                              lng: -71.0615862
                            start_address: 'Boston, MA, USA'
                            start_location:
                              lat: 42.3597872
                              lng: -71.0598473
                            steps:
                              - distance:
                                  text: 0.1 mi
                                  value: 178
                                duration:
                                  text: 1 min
                                  value: 41
                                end_location:
                                  lat: 42.360989
                                  lng: -71.0611984
                                html_instructions: Head <b>north</b> on <b>Cambridge St</b> toward <b>Sudbury St</b>
                                polyline:
                                  points: 'ukpaG`{upLKDSHCBULSNUTKHMJKJIJGFIJIJGHCDMZIR[v@'
                                start_location:
                                  lat: 42.3597872
                                  lng: -71.0598473
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.3 mi
                                  value: 433
                                duration:
                                  text: 2 mins
                                  value: 147
                                end_location:
                                  lat: 42.36317589999999
                                  lng: -71.0569388
                                html_instructions: Turn <b>right</b> onto <b>Sudbury St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'espaGncvpLQKIKMQCCCEIMCIEI[{@Ys@M[_@_Ac@mAk@yAUk@GQEMI_@I[Om@Mk@Mk@CKCGCMEIAECECGACCGEECIIIGGEAAAQI'
                                start_location:
                                  lat: 42.360989
                                  lng: -71.0611984
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 mi
                                  value: 168
                                duration:
                                  text: 1 min
                                  value: 37
                                end_location:
                                  lat: 42.3643705
                                  lng: -71.0581725
                                html_instructions: Slight <b>left</b> onto <b>Cross St</b>
                                maneuver: turn-slight-left
                                polyline:
                                  points: '{`qaGzhupLC??@A?ABOXEFEHEFMNMNKLML]VMNONOHKFEFMJIFABC@QR'
                                start_location:
                                  lat: 42.36317589999999
                                  lng: -71.0569388
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.5 mi
                                  value: 798
                                duration:
                                  text: 3 mins
                                  value: 188
                                end_location:
                                  lat: 42.3708118
                                  lng: -71.0614952
                                html_instructions: Turn <b>right</b> onto <b>N Washington St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'ihqaGppupLORg@@GBE@EDGFcA@M?_@A]@qBHaBH_A@KFMFi@ZCBCBCBKRABCBEB_@Vc@ZIFKNCDCHIZM`@EHIJYZMFe@Vs@b@WJa@VqBdAm@\_@ROFMBK@K?I@A?E@C?GBIBEDIFGFIJA@OHOJ'
                                start_location:
                                  lat: 42.3643705
                                  lng: -71.0581725
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.5 mi
                                  value: 817
                                duration:
                                  text: 2 mins
                                  value: 123
                                end_location:
                                  lat: 42.3762299
                                  lng: -71.0552091
                                html_instructions: Turn <b>right</b> onto <b>Chelsea St</b>
                                maneuver: turn-right
                                polyline:
                                  points: 'qpraGjevpLGAE@GBGBGBIDI@IBC?C?E?MACC[g@GKKQKO[g@?Aa@q@Yc@MQa@s@c@s@KOk@{@S[GIw@gA]g@W]UOQSAAMQ]c@SUSUu@_AACW[OUa@e@CEQWMSKOa@s@Q]Uc@GMEG[a@QUW[KK[]w@{@'
                                start_location:
                                  lat: 42.3708118
                                  lng: -71.0614952
                                travel_mode: DRIVING
                              - distance:
                                  text: 0.1 mi
                                  value: 181
                                duration:
                                  text: 1 min
                                  value: 27
                                end_location:
                                  lat: 42.37707049999999
                                  lng: -71.0570588
                                html_instructions: Turn <b>left</b> onto <b>Vine St</b>
                                maneuver: turn-left
                                polyline:
                                  points: mrsaG`~tpLKXGLUd@MTYl@Yl@Wj@GNEZKn@Ih@
                                start_location:
                                  lat: 42.3762299
[...]
