{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Maps Platform",
    "description": "API Specification for Google Maps Platform",
    "version": "1.7.1"
  },
  "servers": [
    {
      "url": "https://www.googleapis.com"
    }
  ],
  "paths": {
    "/geolocation/v1/geolocate": {
      "post": {
        "servers": [
          {
            "url": "https://www.googleapis.com"
          }
        ],
        "tags": [
          "Geolocation API"
        ],
        "description": "Geolocation API returns a location and accuracy radius based on information about cell towers and WiFi nodes that the mobile client can detect. This document describes the protocol used to send this data to the server and to return a response to the client.\n\nCommunication is done over HTTPS using POST. Both request and response are formatted as JSON, and the content type of both is `application/json`.\n\nYou must specify a key in your request, included as the value of a`key` parameter. A `key` is your application's  API key. This key identifies your application for purposes of quota management. Learn how to [get a key](https://developers.google.com/maps/documentation/geolocation/get-api-key).",
        "requestBody": {
          "description": "The request body must be formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeolocationRequest"
              },
              "examples": {
                "WIFI": {
                  "value": {
                    "considerIp": "false",
                    "wifiAccessPoints": [
                      {
                        "macAddress": "84:d4:7e:09:a5:f1",
                        "signalStrength": -43,
                        "signalToNoiseRatio": 0
                      },
                      {
                        "macAddress": "44:48:c1:a6:f3:d0",
                        "signalStrength": -55,
                        "signalToNoiseRatio": 0
                      }
                    ]
                  }
                },
                "Cell Towers": {
                  "value": {
                    "cellTowers": [
                      {
                        "cellId": 170402199,
                        "locationAreaCode": 35632,
                        "mobileCountryCode": 310,
                        "mobileNetworkCode": 410,
                        "age": 0,
                        "signalStrength": -60,
                        "timingAdvance": 15
                      }
                    ]
                  }
                },
                "IP Only": {
                  "value": {
                    "considerIp": "true"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                },
                "examples": {
                  "WIFI": {
                    "value": {
                      "location": {
                        "lat": 37.421925,
                        "lng": -122.0841293
                      },
                      "accuracy": 30
                    }
                  },
                  "Cell Towers": {
                    "value": {
                      "location": {
                        "lat": 37.780187700000006,
                        "lng": -122.41665049999999
                      },
                      "accuracy": 1479
                    }
                  },
                  "IP Only": {
                    "value": {
                      "location": {
                        "lat": 37.7802545,
                        "lng": -122.41590829999998
                      },
                      "accuracy": 926
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Bad Request": {
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "Invalid value at 'cell_tower' (type.googleapis.com/maps_api.CellTower), \"foo\"",
                        "errors": [
                          {
                            "message": "Invalid value at 'cell_tower' (type.googleapis.com/maps_api.CellTower), \"foo\"",
                            "reason": "invalid"
                          }
                        ],
                        "status": "INVALID_ARGUMENT"
                      }
                    }
                  },
                  "Invalid Key": {
                    "value": {
                      "error": {
                        "code": 400,
                        "message": "API key not valid. Please pass a valid API key.",
                        "errors": [
                          {
                            "message": "API key not valid. Please pass a valid API key.",
                            "domain": "global",
                            "reason": "badRequest"
                          }
                        ],
                        "status": "INVALID_ARGUMENT"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Invalid": {
                    "value": {
                      "error": {
                        "code": 404,
                        "message": "Not Found",
                        "errors": [
                          {
                            "message": "Not Found",
                            "domain": "geolocation",
                            "reason": "notFound"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/maps/api/elevation/json": {
      "get": {
        "servers": [
          {
            "url": "https://maps.googleapis.com"
          }
        ],
        "tags": [
          "Elevation API"
        ],
        "description": "The Elevation API provides a simple interface to query locations on the earth for elevation data. Additionally, you may request sampled elevation data along paths, allowing you to calculate elevation changes along routes. With the Elevation API, you can develop hiking and biking applications, positioning applications, or low resolution surveying applications.\n\nElevation data is available for all locations on the surface of the earth, including depth locations on the ocean floor (which return negative values). In those cases where Google does not possess exact elevation measurements at the precise location you request, the service interpolates and returns an averaged value using the four nearest locations. Elevation values are expressed relative to local mean sea level (LMSL).\n\nRequests to the Elevation API utilize different parameters based on whether the request is for discrete locations or for an ordered path. For discrete locations, requests for elevation return data on the specific locations passed in the request; for paths, elevation requests are instead sampled along the given path.\n",
        "parameters": [
          {
            "name": "locations",
            "in": "query",
            "style": "pipeDelimited",
            "explode": false,
            "description": "Positional requests are indicated through use of the locations parameter, indicating elevation requests for the specific locations passed as latitude/longitude values.\n\nThe locations parameter may take the following arguments:\n\n- A single coordinate: `locations=40.714728,-73.998672`\n- An array of coordinates separated using the pipe ('|') character: `locations=40.714728,-73.998672|-34.397,150.644`\n- A set of encoded coordinates using the [Encoded Polyline Algorithm](https://developers.google.com/maps/documentation/utilities/polylinealgorithm): `locations=enc:gfo}EtohhU`\n\nLatitude and longitude coordinate strings are defined using numerals within a comma-separated text string. For example, \"40.714728,-73.998672\" is a valid locations value. Latitude and longitude values must correspond to a valid location on the face of the earth. Latitudes can take any value between -90 and 90 while longitude values can take any value between -180 and 180. If you specify an invalid latitude or longitude value, your request will be rejected as a bad request.\n\nYou may pass any number of multiple coordinates within an array or encoded polyline, while still constructing a valid URL. Note that when passing multiple coordinates, the accuracy of any returned data may be of lower resolution than when requesting data for a single coordinate.\n",
            "example": [
              "35,-100",
              "40,-110"
            ],
            "schema": {
              "$ref": "#/components/schemas/LatLngArrayString"
            }
          },
          {
            "name": "path",
            "in": "query",
            "style": "pipeDelimited",
            "explode": false,
            "description": "An array of comma separated {latitude,longitude} strings.",
            "example": [
              "35,-110",
              "33,-110",
              "31,-110"
            ],
            "schema": {
              "$ref": "#/components/schemas/LatLngArrayString"
            }
          },
          {
            "name": "samples",
            "in": "query",
            "description": "Required if path parameter is set.",
            "schema": {
              "type": "number"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Elevation Response",
            "content": {
              "application/json": {
                "examples": {
                  "elevation_locations": {
                    "value": {
                      "results": [
                        {
                          "elevation": 1608.637939453125,
                          "location": {
                            "lat": 39.7391536,
                            "lng": -104.9847034
                          },
                          "resolution": 4.771975994110107
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "elevation_locations_multiple": {
                    "value": {
                      "results": [
                        {
                          "elevation": 1608.637939453125,
                          "location": {
                            "lat": 39.7391536,
                            "lng": -104.9847034
                          },
                          "resolution": 4.771975994110107
                        },
                        {
                          "elevation": -52.79492568969727,
                          "location": {
                            "lat": 36.455556,
                            "lng": -116.866667
                          },
                          "resolution": 19.08790397644043
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "elevation_path": {
                    "value": {
                      "results": [
                        {
                          "elevation": 4411.94189453125,
                          "location": {
                            "lat": 36.578581,
                            "lng": -118.291994
                          },
                          "resolution": 19.08790397644043
                        },
                        {
                          "elevation": 1372.8359375,
                          "location": {
                            "lat": 36.41150289067028,
                            "lng": -117.5602607523847
                          },
                          "resolution": 9.543951988220215
                        },
                        {
                          "elevation": -84.51690673828125,
                          "location": {
                            "lat": 36.23998,
                            "lng": -116.83171
                          },
                          "resolution": 9.543951988220215
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "elevation_path_missing_samples": {
                    "value": {
                      "results": [],
                      "status": "INVALID_REQUEST"
                    }
                  },
                  "elevation_invalid_key": {
                    "value": {
                      "error_message": "The provided API key is invalid.",
                      "results": [],
                      "status": "REQUEST_DENIED"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "results"
                  ],
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Invalid request. Invalid 'locations' parameter."
                    },
                    "status": {
                      "$ref": "#/components/schemas/ElevationStatus"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "elevation": {
                            "type": "number"
                          },
                          "resolution": {
                            "type": "number"
                          },
                          "location": {
                            "$ref": "#/components/schemas/LatLngLiteral"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/maps/api/geocode/json": {
      "get": {
        "servers": [
          {
            "url": "https://maps.googleapis.com"
          }
        ],
        "tags": [
          "Geocoding API"
        ],
        "description": "The Geocoding API is a service that provides geocoding and reverse geocoding of addresses.\n\n**Geocoding** is the process of converting addresses (like a street address) into geographic coordinates (like latitude and longitude), which you can use to place markers on a map, or position the map.\n\n**Reverse geocoding** is the process of converting geographic coordinates into a human-readable address.\n\nYou can also use the Geocoding API to find the address for a given place ID.\n\nTo see countries currently supported by the Google Maps Platform Geocoding API, please consult the [Google Maps coverage data](https://developers.google.com/maps/coverage). The accuracy of geocoded locations may vary per country, so you should consider using the returned location_type field to determine if a good enough match has been found for the purposes of your application. Please note that the availability of geocoding data depends on our contracts with data providers, so it is subject to change.",
        "parameters": [
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/region"
          },
          {
            "name": "address",
            "example": "1600 Amphitheatre+Parkway, Mountain View, CA",
            "description": "The street address or plus code that you want to geocode. Specify addresses in accordance with the format used by the national postal service of the country concerned. Additional address elements such as business names and unit, suite or floor numbers should be avoided. Street address elements should be delimited by spaces (shown here as url-escaped to `%20`):\n\n`address=24%20Sussex%20Drive%20Ottawa%20ON`\n\nFormat plus codes as shown here (plus signs are url-escaped to `%2B` and spaces are url-escaped to `%20`):\n- global code is a 4 character area code and 6 character or longer local code (`849VCWC8+R9` is `849VCWC8%2BR9`).\n- compound code is a 6 character or longer local code with an explicit location (`CWC8+R9 Mountain View, CA, USA` is `CWC8%2BR9%20Mountain%20View%20CA%20USA`).",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "components",
            "style": "pipeDelimited",
            "explode": false,
            "example": [
              "street_number:1600",
              "route:Amphitheatre+Parkway",
              "locality:Mountain+View",
              "administrative_area_level_1:CA",
              "country:US"
            ],
            "description": "A components filter with elements separated by a pipe (|). The components filter is also accepted as an optional parameter if an address is provided. Each element in the components filter consists of a component:value pair, and fully restricts the results from the geocoder.\n\nhttps://developers.google.com/maps/documentation/geocoding/overview#component-filtering",
            "in": "query",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "name": "latlng",
            "example": "40,-110",
            "description": "The street address that you want to geocode, in the format used by the national postal service of the country concerned. Additional address elements such as business names and unit, suite or floor numbers should be avoided.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounds",
            "description": "The bounding box of the viewport within which to bias geocode results more prominently. This parameter will only influence, not fully restrict, results from the geocoder.  - name: locations\nin: query",
            "example": [
              "35,-100",
              "40,-110"
            ],
            "schema": {
              "$ref": "#/components/schemas/LatLngArrayString"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Gecoding Response",
            "content": {
              "application/json": {
                "examples": {
                  "components_filtering_response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "High Street",
                              "short_name": "High St",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Hastings",
                              "short_name": "Hastings",
                              "types": [
                                "postal_town"
                              ]
                            },
                            {
                              "long_name": "East Sussex",
                              "short_name": "East Sussex",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "England",
                              "short_name": "England",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United Kingdom",
                              "short_name": "GB",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "TN34",
                              "short_name": "TN34",
                              "types": [
                                "postal_code",
                                "postal_code_prefix"
                              ]
                            }
                          ],
                          "formatted_address": "High St, Hastings TN34, UK",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 50.86038139999999,
                                "lng": 0.596206
                              },
                              "southwest": {
                                "lat": 50.8558471,
                                "lng": 0.5904904
                              }
                            },
                            "location": {
                              "lat": 50.8584228,
                              "lng": 0.5926005999999999
                            },
                            "location_type": "GEOMETRIC_CENTER",
                            "viewport": {
                              "northeast": {
                                "lat": 50.86038139999999,
                                "lng": 0.596206
                              },
                              "southwest": {
                                "lat": 50.8558471,
                                "lng": 0.5904904
                              }
                            }
                          },
                          "place_id": "ChIJ-Ws929sa30cRKgsMNVkPyws",
                          "types": [
                            "route"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "components_response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "Santa Cruz de Tenerife",
                              "short_name": "Santa Cruz de Tenerife",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Santa Cruz de Tenerife",
                              "short_name": "TF",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Canary Islands",
                              "short_name": "CN",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Spain",
                              "short_name": "ES",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Santa Cruz de Tenerife, Spain",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 28.487616,
                                "lng": -16.2356646
                              },
                              "southwest": {
                                "lat": 28.4280248,
                                "lng": -16.3370045
                              }
                            },
                            "location": {
                              "lat": 28.4636296,
                              "lng": -16.2518467
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 28.487616,
                                "lng": -16.2356646
                              },
                              "southwest": {
                                "lat": 28.4280248,
                                "lng": -16.3370045
                              }
                            }
                          },
                          "place_id": "ChIJcUElzOzMQQwRLuV30nMUEUM",
                          "types": [
                            "locality",
                            "political"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "components_zero_results_fixed_response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "Helsinki",
                              "short_name": "HKI",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Finland",
                              "short_name": "FI",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Helsinki, Finland",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 60.2978389,
                                "lng": 25.2544849
                              },
                              "southwest": {
                                "lat": 59.9224887,
                                "lng": 24.7828758
                              }
                            },
                            "location": {
                              "lat": 60.16985569999999,
                              "lng": 24.9383791
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 60.2978389,
                                "lng": 25.2544849
                              },
                              "southwest": {
                                "lat": 59.9224887,
                                "lng": 24.7828758
                              }
                            }
                          },
                          "place_id": "ChIJkQYhlscLkkYRY_fiO4S9Ts0",
                          "types": [
                            "locality",
                            "political"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "components_zero_results_response": {
                    "value": {
                      "results": [],
                      "status": "ZERO_RESULTS"
                    }
                  },
                  "invalid_place": {
                    "value": {
                      "error_message": "Invalid request. Invalid 'place_id' parameter.",
                      "results": [],
                      "status": "INVALID_REQUEST"
                    }
                  },
                  "invalid_request": {
                    "value": {
                      "error_message": "Invalid request. Missing the 'address', 'components', 'latlng' or 'place_id' parameter.",
                      "results": [],
                      "status": "INVALID_REQUEST"
                    }
                  },
                  "place_id_response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "277",
                              "short_name": "277",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Bedford Avenue",
                              "short_name": "Bedford Ave",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Williamsburg",
                              "short_name": "Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "11211",
                              "short_name": "11211",
                              "types": [
                                "postal_code"
                              ]
                            }
                          ],
                          "formatted_address": "277 Bedford Ave, Brooklyn, NY 11211, USA",
                          "geometry": {
                            "location": {
                              "lat": 40.7142205,
                              "lng": -73.9612903
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 40.7155988302915,
                                "lng": -73.9600127697085
                              },
                              "southwest": {
                                "lat": 40.71290086970851,
                                "lng": -73.9627107302915
                              }
                            }
                          },
                          "place_id": "ChIJd8BlQ2BZwokRAFUEcm_qrcA",
                          "plus_code": {
                            "compound_code": "P27Q+MF Brooklyn, NY",
                            "global_code": "87G8P27Q+MF"
                          },
                          "types": [
                            "street_address"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "1600",
                              "short_name": "1600",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Amphitheatre Parkway",
                              "short_name": "Amphitheatre Pkwy",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Mountain View",
                              "short_name": "Mountain View",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Santa Clara County",
                              "short_name": "Santa Clara County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "California",
                              "short_name": "CA",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "94043",
                              "short_name": "94043",
                              "types": [
                                "postal_code"
                              ]
                            }
                          ],
                          "formatted_address": "1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA",
                          "geometry": {
                            "location": {
                              "lat": 37.4222934,
                              "lng": -122.0841409
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 37.4236423802915,
                                "lng": -122.0827919197085
                              },
                              "southwest": {
                                "lat": 37.4209444197085,
                                "lng": -122.0854898802915
                              }
                            }
                          },
                          "place_id": "ChIJVYBZP-Oxj4ARls-qJ_G3tgM",
                          "plus_code": {
                            "compound_code": "CWC8+W8 Mountain View, CA, USA",
                            "global_code": "849VCWC8+W8"
                          },
                          "types": [
                            "street_address"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "1600",
                              "short_name": "1600",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Amphitheatre Parkway",
                              "short_name": "Amphitheatre Parkway",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Monta Loma",
                              "short_name": "Monta Loma",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Mountain View",
                              "short_name": "Mountain View",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Santa Clara County",
                              "short_name": "Santa Clara County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "California",
                              "short_name": "CA",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "94043",
                              "short_name": "94043",
                              "types": [
                                "postal_code"
                              ]
                            }
                          ],
                          "formatted_address": "1600 Amphitheatre Parkway, Mountain View, CA 94043, USA",
                          "geometry": {
                            "location": {
                              "lat": 37.4131208,
                              "lng": -122.1039424
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 37.4144697802915,
                                "lng": -122.1025934197085
                              },
                              "southwest": {
                                "lat": 37.4117718197085,
                                "lng": -122.1052913802915
                              }
                            }
                          },
                          "place_id": "ChIJUV89TiG7j4ARWiEl0F5eP-o",
                          "plus_code": {
                            "compound_code": "CV7W+6C Mountain View, CA, USA",
                            "global_code": "849VCV7W+6C"
                          },
                          "types": [
                            "street_address"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "reverse_filtering_response": {
                    "value": {
                      "plus_code": {
                        "compound_code": "P27Q+MC New York, NY, USA",
                        "global_code": "87G8P27Q+MC"
                      },
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "277",
                              "short_name": "277",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Bedford Avenue",
                              "short_name": "Bedford Ave",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Williamsburg",
                              "short_name": "Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "11211",
                              "short_name": "11211",
                              "types": [
                                "postal_code"
                              ]
                            }
                          ],
                          "formatted_address": "277 Bedford Ave, Brooklyn, NY 11211, USA",
                          "geometry": {
                            "location": {
                              "lat": 40.7142205,
                              "lng": -73.9612903
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 40.71556948029149,
                                "lng": -73.95994131970849
                              },
                              "southwest": {
                                "lat": 40.7128715197085,
                                "lng": -73.9626392802915
                              }
                            }
                          },
                          "place_id": "ChIJd8BlQ2BZwokRAFUEcm_qrcA",
                          "plus_code": {
                            "compound_code": "P27Q+MF Brooklyn, NY, USA",
                            "global_code": "87G8P27Q+MF"
                          },
                          "types": [
                            "street_address"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "reverse_response": {
                    "value": {
                      "plus_code": {
                        "compound_code": "P27Q+MC New York, NY, USA",
                        "global_code": "87G8P27Q+MC"
                      },
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "277",
                              "short_name": "277",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Bedford Avenue",
                              "short_name": "Bedford Ave",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Williamsburg",
                              "short_name": "Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "11211",
                              "short_name": "11211",
                              "types": [
                                "postal_code"
                              ]
                            }
                          ],
                          "formatted_address": "277 Bedford Ave, Brooklyn, NY 11211, USA",
                          "geometry": {
                            "location": {
                              "lat": 40.7142205,
                              "lng": -73.9612903
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 40.71556948029149,
                                "lng": -73.95994131970849
                              },
                              "southwest": {
                                "lat": 40.7128715197085,
                                "lng": -73.9626392802915
                              }
                            }
                          },
                          "place_id": "ChIJd8BlQ2BZwokRAFUEcm_qrcA",
                          "plus_code": {
                            "compound_code": "P27Q+MF Brooklyn, NY, USA",
                            "global_code": "87G8P27Q+MF"
                          },
                          "types": [
                            "street_address"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "279",
                              "short_name": "279",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Bedford Avenue",
                              "short_name": "Bedford Ave",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Williamsburg",
                              "short_name": "Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "11211",
                              "short_name": "11211",
                              "types": [
                                "postal_code"
                              ]
                            },
                            {
                              "long_name": "4203",
                              "short_name": "4203",
                              "types": [
                                "postal_code_suffix"
                              ]
                            }
                          ],
                          "formatted_address": "279 Bedford Ave, Brooklyn, NY 11211, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.7142628,
                                "lng": -73.9612131
                              },
                              "southwest": {
                                "lat": 40.7141534,
                                "lng": -73.9613792
                              }
                            },
                            "location": {
                              "lat": 40.7142015,
                              "lng": -73.96130769999999
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 40.7155570802915,
                                "lng": -73.95994716970849
                              },
                              "southwest": {
                                "lat": 40.7128591197085,
                                "lng": -73.96264513029149
                              }
                            }
                          },
                          "place_id": "ChIJRYYERGBZwokRAM4n1GlcYX4",
                          "types": [
                            "premise"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "277",
                              "short_name": "277",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Bedford Avenue",
                              "short_name": "Bedford Ave",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Williamsburg",
                              "short_name": "Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "11211",
                              "short_name": "11211",
                              "types": [
                                "postal_code"
                              ]
                            }
                          ],
                          "formatted_address": "277 Bedford Ave, Brooklyn, NY 11211, USA",
                          "geometry": {
                            "location": {
                              "lat": 40.7142205,
                              "lng": -73.9612903
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 40.71556948029149,
                                "lng": -73.95994131970849
                              },
                              "southwest": {
                                "lat": 40.7128715197085,
                                "lng": -73.9626392802915
                              }
                            }
                          },
                          "place_id": "ChIJF0hlQ2BZwokRsrY2RAlFbAE",
                          "plus_code": {
                            "compound_code": "P27Q+MF Brooklyn, NY, USA",
                            "global_code": "87G8P27Q+MF"
                          },
                          "types": [
                            "establishment",
                            "point_of_interest"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "291-275",
                              "short_name": "291-275",
                              "types": [
                                "street_number"
                              ]
                            },
                            {
                              "long_name": "Bedford Avenue",
                              "short_name": "Bedford Ave",
                              "types": [
                                "route"
                              ]
                            },
                            {
                              "long_name": "Williamsburg",
                              "short_name": "Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            },
                            {
                              "long_name": "11211",
                              "short_name": "11211",
                              "types": [
                                "postal_code"
                              ]
                            }
                          ],
                          "formatted_address": "291-275 Bedford Ave, Brooklyn, NY 11211, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.7145065,
                                "lng": -73.9612923
                              },
                              "southwest": {
                                "lat": 40.7139055,
                                "lng": -73.96168349999999
                              }
                            },
                            "location": {
                              "lat": 40.7142045,
                              "lng": -73.9614845
                            },
                            "location_type": "GEOMETRIC_CENTER",
                            "viewport": {
                              "northeast": {
                                "lat": 40.7155549802915,
                                "lng": -73.96013891970848
                              },
                              "southwest": {
                                "lat": 40.7128570197085,
                                "lng": -73.96283688029149
                              }
                            }
                          },
                          "place_id": "ChIJ8ThWRGBZwokR3E1zUisk3LU",
                          "types": [
                            "route"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "South Williamsburg",
                              "short_name": "South Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "South Williamsburg, Brooklyn, NY, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.7167119,
                                "lng": -73.9420904
                              },
                              "southwest": {
                                "lat": 40.6984866,
                                "lng": -73.9699432
                              }
                            },
                            "location": {
                              "lat": 40.7043921,
                              "lng": -73.9565551
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 40.7167119,
                                "lng": -73.9420904
                              },
                              "southwest": {
                                "lat": 40.6984866,
                                "lng": -73.9699432
                              }
                            }
                          },
                          "place_id": "ChIJR3_ODdlbwokRYtN19kNtcuk",
                          "types": [
                            "neighborhood",
                            "political"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "11211",
                              "short_name": "11211",
                              "types": [
                                "postal_code"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "New York",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Brooklyn, NY 11211, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.7280089,
                                "lng": -73.9207299
                              },
                              "southwest": {
                                "lat": 40.7008331,
                                "lng": -73.9644697
                              }
                            },
                            "location": {
                              "lat": 40.7093358,
                              "lng": -73.9565551
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 40.7280089,
                                "lng": -73.9207299
                              },
                              "southwest": {
                                "lat": 40.7008331,
                                "lng": -73.9644697
                              }
                            }
                          },
                          "place_id": "ChIJvbEjlVdZwokR4KapM3WCFRw",
                          "types": [
                            "postal_code"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "Williamsburg",
                              "short_name": "Williamsburg",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Williamsburg, Brooklyn, NY, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.7251773,
                                "lng": -73.936498
                              },
                              "southwest": {
                                "lat": 40.6979329,
                                "lng": -73.96984499999999
                              }
                            },
                            "location": {
                              "lat": 40.7081156,
                              "lng": -73.9570696
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 40.7251773,
                                "lng": -73.936498
                              },
                              "southwest": {
                                "lat": 40.6979329,
                                "lng": -73.96984499999999
                              }
                            }
                          },
                          "place_id": "ChIJQSrBBv1bwokRbNfFHCnyeYI",
                          "types": [
                            "neighborhood",
                            "political"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Brooklyn, NY, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.739446,
                                "lng": -73.8333651
                              },
                              "southwest": {
                                "lat": 40.551042,
                                "lng": -74.05663
                              }
                            },
                            "location": {
                              "lat": 40.6781784,
                              "lng": -73.9441579
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 40.739446,
                                "lng": -73.8333651
                              },
                              "southwest": {
                                "lat": 40.551042,
                                "lng": -74.05663
                              }
                            }
                          },
                          "place_id": "ChIJCSF8lBZEwokRhngABHRcdoI",
                          "types": [
                            "political",
                            "sublocality",
                            "sublocality_level_1"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "Kings County",
                              "short_name": "Kings County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Brooklyn",
                              "short_name": "Brooklyn",
                              "types": [
                                "political",
                                "sublocality",
                                "sublocality_level_1"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Kings County, Brooklyn, NY, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.739446,
                                "lng": -73.8333651
                              },
                              "southwest": {
                                "lat": 40.551042,
                                "lng": -74.05663
                              }
                            },
                            "location": {
                              "lat": 40.6528762,
                              "lng": -73.95949399999999
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 40.739446,
                                "lng": -73.8333651
                              },
                              "southwest": {
                                "lat": 40.551042,
                                "lng": -74.05663
                              }
                            }
                          },
                          "place_id": "ChIJOwE7_GTtwokRs75rhW4_I6M",
                          "types": [
                            "administrative_area_level_2",
                            "political"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "New York",
                              "short_name": "New York",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "New York, NY, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.9175771,
                                "lng": -73.70027209999999
                              },
                              "southwest": {
                                "lat": 40.4773991,
                                "lng": -74.25908989999999
                              }
                            },
                            "location": {
                              "lat": 40.7127753,
                              "lng": -74.0059728
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 40.9175771,
                                "lng": -73.70027209999999
                              },
                              "southwest": {
                                "lat": 40.4773991,
                                "lng": -74.25908989999999
                              }
                            }
                          },
                          "place_id": "ChIJOwg_06VPwokRYv534QaPC8g",
                          "types": [
                            "locality",
                            "political"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "Long Island",
                              "short_name": "Long Island",
                              "types": [
                                "establishment",
                                "natural_feature"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Long Island, New York, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 41.1612401,
                                "lng": -71.85620109999999
                              },
                              "southwest": {
                                "lat": 40.5429789,
                                "lng": -74.0419497
                              }
                            },
                            "location": {
                              "lat": 40.789142,
                              "lng": -73.13496099999999
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 41.1612401,
                                "lng": -71.85620109999999
                              },
                              "southwest": {
                                "lat": 40.5429789,
                                "lng": -74.0419497
                              }
                            }
                          },
                          "place_id": "ChIJy6Xu4VRE6IkRGA2UhmH59x0",
                          "types": [
                            "establishment",
                            "natural_feature"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "New York, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 45.015861,
                                "lng": -71.777491
                              },
                              "southwest": {
                                "lat": 40.4773991,
                                "lng": -79.7625901
                              }
                            },
                            "location": {
                              "lat": 43.2994285,
                              "lng": -74.21793260000001
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 45.015861,
                                "lng": -71.777491
                              },
                              "southwest": {
                                "lat": 40.4773991,
                                "lng": -79.7625901
                              }
                            }
                          },
                          "place_id": "ChIJqaUj8fBLzEwRZ5UY3sHGz90",
                          "types": [
                            "administrative_area_level_1",
                            "political"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "United States",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 71.5388001,
                                "lng": -66.885417
                              },
                              "southwest": {
                                "lat": 18.7763,
                                "lng": 170.5957
                              }
                            },
                            "location": {
                              "lat": 37.09024,
                              "lng": -95.712891
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 71.5388001,
                                "lng": -66.885417
                              },
                              "southwest": {
                                "lat": 18.7763,
                                "lng": 170.5957
                              }
                            }
                          },
                          "place_id": "ChIJCzYy5IS16lQRQrfeQ5K5Oxw",
                          "types": [
                            "country",
                            "political"
                          ]
                        },
                        {
                          "address_components": [
                            {
                              "long_name": "P27Q+MC",
                              "short_name": "P27Q+MC",
                              "types": [
                                "plus_code"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "New York",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "New York",
                              "short_name": "NY",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "P27Q+MC New York, NY, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 40.71425,
                                "lng": -73.96137499999999
                              },
                              "southwest": {
                                "lat": 40.714125,
                                "lng": -73.9615
                              }
                            },
                            "location": {
                              "lat": 40.714224,
                              "lng": -73.961452
                            },
                            "location_type": "ROOFTOP",
                            "viewport": {
                              "northeast": {
                                "lat": 40.71553648029149,
                                "lng": -73.96008851970849
                              },
                              "southwest": {
                                "lat": 40.71283851970849,
                                "lng": -73.96278648029151
                              }
                            }
                          },
                          "place_id": "GhIJWAIpsWtbREARHyv4bYh9UsA",
                          "plus_code": {
                            "compound_code": "P27Q+MC New York, NY, USA",
                            "global_code": "87G8P27Q+MC"
                          },
                          "types": [
                            "plus_code"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "toledo_region_es_response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "Toledo",
                              "short_name": "Toledo",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Toledo",
                              "short_name": "TO",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Castile-La Mancha",
                              "short_name": "CM",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Spain",
                              "short_name": "ES",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Toledo, Spain",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 39.88605099999999,
                                "lng": -3.9192423
                              },
                              "southwest": {
                                "lat": 39.8383676,
                                "lng": -4.0796176
                              }
                            },
                            "location": {
                              "lat": 39.8628316,
                              "lng": -4.027323099999999
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 39.88605099999999,
                                "lng": -3.9192423
                              },
                              "southwest": {
                                "lat": 39.8383676,
                                "lng": -4.0796176
                              }
                            }
                          },
                          "place_id": "ChIJ8f21C60Lag0R_q11auhbf8Y",
                          "types": [
                            "locality",
                            "political"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "toledo_response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "Toledo",
                              "short_name": "Toledo",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Lucas County",
                              "short_name": "Lucas County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Ohio",
                              "short_name": "OH",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
                              ]
                            }
                          ],
                          "formatted_address": "Toledo, OH, USA",
                          "geometry": {
                            "bounds": {
                              "northeast": {
                                "lat": 41.732844,
                                "lng": -83.454229
                              },
                              "southwest": {
                                "lat": 41.580266,
                                "lng": -83.6942832
                              }
                            },
                            "location": {
                              "lat": 41.6528052,
                              "lng": -83.5378674
                            },
                            "location_type": "APPROXIMATE",
                            "viewport": {
                              "northeast": {
                                "lat": 41.732844,
                                "lng": -83.454229
                              },
                              "southwest": {
                                "lat": 41.580266,
                                "lng": -83.6942832
                              }
                            }
                          },
                          "place_id": "ChIJeU4e_C2HO4gRRcM6RZ_IPHw",
                          "types": [
                            "locality",
                            "political"
                          ]
                        }
                      ],
                      "status": "OK"
                    }
                  },
                  "winnetka_bounds_response": {
                    "value": {
                      "results": [
                        {
                          "address_components": [
                            {
                              "long_name": "Winnetka",
                              "short_name": "Winnetka",
                              "types": [
                                "neighborhood",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Los Angeles",
                              "short_name": "Los Angeles",
                              "types": [
                                "locality",
                                "political"
                              ]
                            },
                            {
                              "long_name": "Los Angeles County",
                              "short_name": "Los Angeles County",
                              "types": [
                                "administrative_area_level_2",
                                "political"
                              ]
                            },
                            {
                              "long_name": "California",
                              "short_name": "CA",
                              "types": [
                                "administrative_area_level_1",
                                "political"
                              ]
                            },
                            {
                              "long_name": "United States",
                              "short_name": "US",
                              "types": [
                                "country",
                                "political"
[...]
